{% extends "legal_default.html" %}

{% block content%}
<h1>Content Takedown Request</h1>
<form id="takedownform" action="/legal/final" method="post" enctype="multipart/form-data">
  {% for k in request.form %}
    <input type="hidden" name="{{ k }}" value="{{ request.form[k] }}">
  {% endfor %}

  <div class="h6 mt-5">Provide link(s) to the illegal {{ "SERVER_NAME" | app_config }} content</div>
  <textarea class="form-control" form="takedownform" name="links" required></textarea>

  <div class="h6 mt-5">Which category of non-First-Amendment-protected speech does this content fall into?</div>
  <select class="form-control" name="nonprotected_type">
    <option value="threats_and_intimidation" checked required>Threats or intimidation</option>
    <option value="obscenity">Obscenity</option>
    <option value="advocacy_of_lawlessness">Advocacy of imminent lawless behavior</option>
    <option value="fraud">Fraudulent misrepresentation</option>
    <option value="defamation">Defamation.</option>
    <option value="nondisclosure">Violation of a non-disclosure order issued by a United States court</option>
    <option value="export">Violation of United States information export law</option>
    <option value="other">Other<br>
  </select>

  <div class="h6 mt-5">Why is this content illegal?</div>
  <div class="body">Provide any additional context necessary to evaluate the legality of the linked content.</div>
  <textarea class="form-control" form="takedownform" name="context" required></textarea>

  <div class="h6 mt-5">Supporting documentation</div>
  <div class="body">Attach any necessary supporting documentation, such as a court order . Documentation must be in English or include an English translation.</div>
  <input type="file" name="file">

  <div class="h6 mt-5">Required Statement</div>
  <input type="checkbox" name="swear_perjury" required> I swear, under penalty of perjury, that the information in this Request is accurate.</br>

  <input class="btn btn-primary mt-5" type="submit" value="Submit"> 
</form>
{% endblock %}
