beautifulsoup4>=4.11.1
bleach>=5.0.1
boto3>=1.26.23
botocore>=1.29.23
cssutils==2.6.0
Flask>=2.2.2
Flask-Caching>=2.0.1
#Flask-Compress>=1.13
Flask-Limiter>=3.1.0
Flask-Markdown>=0.3
Flask-Minify>=0.41
gevent>=22.10.2
gunicorn>=20.1.0
ImageHash>=4.3.1
Jinja2>=3.1.2
libsass>=0.22.0
Markdown>=3.4.1
#matplotlib>=3.6.2
mistletoe>=1.0.1
newrelic>=8.5.0
numpy>=1.23.5
piexif>=1.1.3
Pillow>=9.3.0
psycopg2-binary>=2.9.5
pyotp>=2.7.0
qrcode>=7.3.1
redis>=4.4.0
requests>=2.25.1
resource>=0.2.1
SQLAlchemy>=2.0.3
werkzeug>=2.2.2