<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{{ 'IMG_URL_THUMBSPLASH' | app_config }}">

  <title>{% block pagetitle %}Guild management - {{ "SITE_NAME" | app_config }}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Ruqqus CSS -->
  {% if b %}
  <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_dark_url }}?v=4.2.1">
  <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_light_url }}?v=4.2.1">
  {% else %}
  <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/dark.css?v=4.2.1">
  <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/light.css?v=4.2.1">
  {% endif %}

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  {% if g.user %}
  <link id="formkey_element" data-formkey="{{ g.user.formkey }}">
  {% endif %}

</head>

<body id="settings-guild">

  {% include "header.html" %}

  <!-- sub-header container -->

  {% block subHeader %}
  <div class="container-fluid bg-light">
    <div class="row py-3">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <span class="post-meta-guild font-weight-bold">
              {% if b %}
                <a href="/+{{ b.name }}" class="text-black"><img src="{{ b.profile_url }}" class="profile-pic-20 align-top mr-1">+{{ b.name }}</a>
              {% else %}
              Moderation
              {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <!-- tabs container -->
{% block subNav %}

  {% if '+' in request.path %}
  {% set mod = b.has_mod(g.user) %}
  <!-- Desktop -->
  <div class="container-fluid bg-white sticky d-none d-md-block">
    <div class="row box-shadow-bottom">
      <div class="col">
        <div class="container">
          <div class="row box-shadow-bottom bg-white">
            <div class="col">
              <div class="d-flex flex-row-reverse justify-content-end">
                <ul class="nav settings-nav mx-auto">

                  {% if (mod and mod.perm_config) or (g.user and g.user.admin_level>=5) %}
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/settings') %} active{% endif %}" href="/+{{ b.name }}/mod/settings"><i class="fas fa-cog"></i>Settings</a>
                  </li>
                  {% endif %}
                  {% if mod and mod.perm_appearance %}
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/appearance') %} active{% endif %}" href="/+{{ b.name }}/mod/appearance"><i class="fas fa-palette"></i>Appearance</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/css') %} active {% endif %}" href="/+{{ b.name }}/mod/css"><i class="fas fa-pencil-paintbrush"></i>CSS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/mods') %} active{% endif %}" href="/+{{ b.name }}/mod/mods"><i class="fas fa-crown"></i>Guildmasters</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/log') %} active{% endif %}" href="/+{{ b.name }}/mod/log"><i class="fas fa-scroll-old"></i>Mod Log</a> 
                  </li>
                  {% if mod and mod.perm_access %}
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/exiled') %} active{% endif %}" href="/+{{ b.name }}/mod/exiled"><i class="fas fa-user-slash"></i>Exiled Users</a> 
                  </li>

                    {% if b.restricted_posting or b.is_private%}
                    <li class="nav-item">
                      <a class="nav-link{% if request.path.endswith('/mod/contributors') %} active{% endif %}" href="/+{{ b.name }}/mod/contributors"><i class="fas fa-user-check"></i>Approved Contributors</a> 
                    </li>
                    {% endif %}
                  {% endif %}

                  {% if mod and mod.perm_content %}
                  <li class="nav-item">
                    <a class="nav-link{% if request.path.endswith('/mod/queue') %} active{% endif %}" href="/+{{ b.name }}/mod/queue"><i class="fas fa-flag"></i>Reports</a> 
                  </li>
                  {% endif %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile -->
  <div class="container-fluid bg-white sticky d-block d-md-none">
    <div class="row box-shadow-bottom">
      <div class="col">
        <div class="d-flex flex-row-reverse justify-content-center">
          <ul class="nav settings-nav">
            {% if mod and mod.perm_config %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/settings') %} active{% endif %}" href="/+{{ b.name }}/mod/settings"><i class="fas fa-cog text-lg mr-0"></i></a>
            </li>
            {% endif %}
            {% if mod and mod.perm_appearance %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/appearance') %} active{% endif %}" href="/+{{ b.name }}/mod/appearance"><i class="fas fa-palette text-lg mr-0"></i></a>
            </li> 
            {% endif %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/css') %} active {% endif %}" href="/+{{ b.name }}/mod/css"><i class="fas fa-pencil-paintbrush text-lg mr-0"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/mods') %} active{% endif %}" href="/+{{ b.name }}/mod/mods"><i class="fas fa-crown text-lg mr-0"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/log') %} active{% endif %}" href="/+{{ b.name }}/mod/log"><i class="fas fa-scroll-old text-lg mr-0"></i></a>
            </li>
            {% if mod and mod.perm_access %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/exiled') %} active{% endif %}" href="/+{{ b.name }}/mod/exiled"><i class="fas fa-user-slash text-lg mr-0"></i></a>
            </li>
              {% if b.restricted_posting or b.is_private %}
              <li class="nav-item">
                <a class="nav-link{% if request.path.endswith('/mod/contributors') %} active{% endif %}" href="/+{{ b.name }}/mod/contributors"><i class="fas fa-user-check text-lg mr-0"></i></a>
              </li>
              {% endif %}
            {% endif %}
            {% if mod and mod.perm_content %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/queue') %} active{% endif %}" href="/+{{ b.name }}/mod/queue"><i class="fas fa-flag text-lg mr-0"></i></a>
            </li>
            {% endif %}
            {% if mod and mod.perm_chat %}
            <li class="nav-item">
              <a class="nav-link{% if request.path.endswith('/mod/chatbans') %} active{% endif %}" href="/+{{ b.name }}/mod/chatbans"><i class="fas fa-comments-alt text-lg mr-0"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}

  <!-- Settings content -->
  <div class="container mt-5">

   {% block content %}
   {% endblock %}

 </div>

 {% include "footer_bottom.html" %}

 <!-- Clipboard Toast -->

{% include "toasts.html" %}

{% block invitationModal %}
{% endblock %}

{% block exileModal %}
{% endblock %}

{% block approveModal %}
{% endblock %}

{% include "bootstrap.html" %}

<!-- ClipboardJS -->
<script src="/assets/js/all_js.js?v=4.2.1"></script>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript" nonce="{{ g.nonce }}">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-copy-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-copy-error').toast('show');
    })
    console.log(e);
  });
</script>


  {% block scripts %}
  {% endblock %}

</body>

</html>
