{% extends "guild/guild_settings.html" %}

{% block pagetitle %}+{{ b.name }} Settings - {{ 'SITE_NAME' | app_config }} Guildmaster Tools{% endblock %}

{% block content %}
<div class="row justify-content-around">

  <div class="col h-100">

    {% if request.args.get('error') or error %}
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-exclamation-circle my-auto"></i>
      <span>
        {{ error if error else request.args.get('error') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}
    {% if request.args.get('msg') or msg %}
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
      <span>
        {{ msg if msg else request.args.get('msg') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}



  <div class="row">

    <div class="col col-md-8">

      <div class="settings">

        <div id="name">

          <h2 class="h5" name="guild_name">Guild Name</h2>

          <p class="text-small text-muted">Change the capitilization of your guild's name.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guild_name">Name</label>
              </div>

              <div class="body w-lg-100">

                <form id="guild-name-form" action="/mod/{{ b.base36id }}/settings/name">
                  <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
                  <input type="text" class="form-control" id="guild_name" name="guild_name" value="{{ b.name }}">
                </form>

                <div class="text-small-extra text-muted mt-3">Only the guild name capitalization can be changed.</div>

              </div>

            </div>

            <div class="footer">

              <div class="d-flex justify-content-end">

                {% if error %}
                <p class="mb-0">
                  <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                </p>
                {% endif %}
                <button class="btn btn-primary ml-auto toast-form-submit" id="save-guild-name" data-form="guild-name-form">Save</button>

              </div>

            </div>

          </div>
        </div>

        <div id="description">

          <h2 class="h5" id="guild_description" name="guild_description">Guild Description</h2>

          <p class="text-small text-muted">Edit the guild's public description. All visitors to the guild will see this.</p>

          <div class="settings-section rounded">

            <div class="body d-lg-flex">

              <label for="bio" class="text-black w-lg-25">Description</label>

              <div class="w-lg-100">
                <div class="input-group mb-2">

                  <form id="guild-description-form" action="/mod/{{ b.base36id }}/settings/description">
                    <textarea class="form-control rounded" id="bio" aria-label="With textarea" placeholder="What's this guild all about?" rows="3" name="description" form="profile-settings" maxlength="1000">{{ b.description }}</textarea>
                  </form>
                </div>

                <small>Limit of 1000 characters</small>

              </div>

            </div>

            <div class="footer">

              <div class="d-flex justify-content-end">

                {% if error %}
                <p class="mb-0">
                  <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                </p>
                {% endif %}

                <button class="btn btn-primary ml-auto toast-form-submit" id="save-bio" data-form="guild-description-form">Save</button>

              </div>

            </div>

          </div>
        </div>

        <div id="category">
          <h2 class="h5" id="guild_category">Guild Category</h2>

          <p class="text-small text-muted">Select the category of content this guild is for. Selecting the correct category will improve visibility for people who might be interested in joining.</p>

          <div class="settings-section rounded">
            <div class="body d-lg-flex">

              <label for="category-select" class="text-black w-lg-25">Category</label>


              <div class="w-lg-100">
                <div class="input-group mb-2">
                  <form id="guild-category-form" action="/mod/{{ b.base36id }}/category/">
                    <select id="category-selector" name="category" class="form-control toast-form-change-submit" data-form="guild-category-form" {% if b.is_locked_category %}disabled{% endif %}>
                      {% if not b.subcat %}
                        <option value="0" selected disabled>Select a Category</option>
                      {% endif %}
                      {% for c in categories %}
                      {% set category=categories[c] %}
                          <option disabled>{{ category.name }}</option>

                          {% for s in category.subcats %}
                          {% set subcat=category.subcats[s] %}
                            <option value="{{ subcat.id }}"{% if subcat.id==b.subcat_id %} selected{% endif %}> - {{ subcat.name }}</option>
                          }
                          {% endfor %}
                      {% endfor %}
                    </select>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="nsfw">

          <h2 class="h5">Age-Restricted Content</h2>

          <p class="text-small text-muted">Designate whether your guild contains mature content.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="over18">NSFW Content</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <form id="guild-over18-form" action="/mod/{{ b.base36id }}/settings/over_18">
                    <input type="checkbox" class="custom-control-input toast-form-change-submit" id="guild-over18" name="over_18" data-form="guild-over18-form" {% if b.over_18 %} checked{% endif %}>
                    <label class="custom-control-label" for="over18"></label>
                  </form>
                </div>

                <span class="text-small-extra text-muted">Enable if your guild contains NSFW content suitable only for 18+ users.</span>

              </div>

            </div>

          </div>

        </div>

        <div id="restricted">

          <h2 class="h5">Restricted Posting</h2>

          <p class="text-small text-muted">Restrict submission posting in +{{ b.name }} to approved contributors only.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="restrictswitch">Restrict Posting</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <form id="guild-restrict-form" action="/mod/{{ b.base36id }}/settings/restricted">
                    <input type="checkbox" class="custom-control-input toast-form-change-submit" id="restrictswitch" name="restrictswitch" data-form="guild-restrict-form" {% if b.restricted_posting %} checked{% endif %}>
                    <label class="custom-control-label" for="restrictswitch"></label>
                  </form>
                </div>

                <span class="text-small-extra text-muted">Restrict posting in +{{ b.name }} to approved users only. (Anyone will still be able to comment).</span>

              </div>

            </div>

          </div>

        </div>

        <div id="privacy">

          <h2 class="h5">Guild Privacy</h2>

          <p class="text-small text-muted">Make submissions to +{{ b.name }} private. Posts will only be visible to approved Guild Members.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guildprivacy">Toggle Privacy</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <form id="guild-private-form" action="/mod/{{ b.base36id }}/settings/private">
                    <input type="checkbox" class="custom-control-input toast-form-change-submit" id="guildprivacy" name="guildprivacy" data-form="guild-private-form" {% if b.is_private %} checked{% endif %}>
                    <label class="custom-control-label" for="guildprivacy"></label>
                  </form>
                </div>

                <span class="text-small-extra text-muted">Restrict viewing, posting, and commenting in +{{ b.name }} to approved members only. (You will also be unable to yank posts from +general into +{{ b.name }}, unless the post was originally made in +{{ b.name }}) </span>

              </div>

            </div>

          </div>

        </div>

        <div id="optout">

          <h2 class="h5">Opt Out of All/Trending</h2>

          <p class="text-small text-muted">Don't show +{{ b.name }} content in All or Trending for users that aren't members of the guild.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guildoptout">Toggle Opt-Out</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <form id="guild-optout-form" action="/mod/{{ b.base36id }}/settings/opt_out">
                    <input type="checkbox" class="custom-control-input toast-form-change-submit" id="guildoptout" name="opt_out" data-form="guild-optout-form" {% if b.all_opt_out %} checked{% endif %}>
                    <label class="custom-control-label" for="guildoptout"></label>
                  </form>
                </div>

                <span class="text-small-extra text-muted">Don't show +{{ b.name }} content in All or Trending for users that aren't members of the guild. (You will also be unable to yank posts from +general into +{{ b.name }}, unless the post was originally made in +{{ b.name }}) </span>

              </div>

            </div>

          </div>

        </div>

        <div id="disallow_bots">

          <h2 class="h5">Disallow Bots</h2>

          <p class="text-small text-muted">Disallow bots from posting and commenting in +{{ b.name }}.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="disallowbots">Disallow Bots</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">

                  <form id="guild-nobots-form" action="/mod/{{ b.base36id }}/settings/disallowbots">
                    <input type="checkbox" class="custom-control-input toast-form-change-submit" id="disallowbots" name="disallowbots" data-form="guild-nobots-form" {% if b.over_18 %} checked{% endif %}>
                    <label class="custom-control-label" for="disallowbots"></label>
                  </form>
                </div>

                <span class="text-small-extra text-muted">Disallow bots from posting and commenting in +{{ b.name }}.</span>

              </div>

            </div>

          </div>

        </div>

  </div>

</div>

</div>

</div>

</div>
{% endblock %}
