{% extends "errors/default.html" %}

{% block title %}
<title>401 Not Authorized</title>
{% endblock %}

{% block icon %}<i class="fas fa-chess-rook text-muted"></i>{% endblock %}
{% block pagetitle %}401 Not Authorized{% endblock %}
{% block pagebody %}
<p class="text-muted mb-5">You need to log in if you want to get into this castle.</p>
{% endblock %}
{% block continue %}
<div><a href="/signup" class="btn btn-primary mb-2">Create an account</a></div>
<div><a href="/login" class="text-muted text-small">Or sign in</a></div>
{% endblock %}