{% extends "errors/default.html" %}

{% block title %}
<title>413 Request Entity Too Large</title>
{% endblock %}

{% block icon %}<i class="fas fa-mountain text-muted"></i>{% endblock %}
{% block pagetitle %}413 Request Entity Too Large{% endblock %}
{% block pagebody %}
<p class="text-muted mb-5">There's a shortage of perfect request entities in this world. Would be a pity to damage yours.</p>
<p class="text-muted mb-5">(But you'll have to. There's a 16 MB limit to all file uploads, or 64 MB with {{ "SITE_NAME" | app_config }} Premium.)</p>
{% endblock %}