{% extends "errors/default.html" %}

{% block title %}
<title>Archiving Prohibited</title>
{% endblock %}

{% block icon %}
<span class="fa-stack text-muted">
  <i class="fad fa-floppy-disk fa-stack-1x text-black"></i>
  <i class="far fa-ban fa-stack-2x text-danger"></i>
</span>
{% endblock %}
{% block pagetitle %}Archiving Prohibited{% endblock %}
{% block pagebody %}
<p class="text-muted mb-5">To help protect user safety, third-party archiving is prohibited.</p>
{% endblock %}
{% block continue %}{% endblock %}