{% extends "errors/default.html" %}

{% block title %}
<title>Archiving Blocked</title>
<meta name="description" content="Archiving Blocked">
{% endblock %}

{% block icon %}
<span class="fa-stack">
  <i class="fad fa-floppy-disk fa-stack-1x text-black"></i>
  <i class="far fa-ban fa-stack-2x text-danger"></i>
</span>
{% endblock %}

{% block pagetitle %}Archiving Blocked{% endblock %}

{% block pagebody %}
<p class="text-muted">To help protect user safety, this page may not be archived.</p>
<p class="text-muted">Visit the live version of this page at: {{ request.path | full_link }}</p>
{% endblock %}

{% block continue %}{% endblock %}