<!-- 2FA Modal -->

<div class="modal fade" id="2faModal" tabindex="-1" role="dialog" aria-labelledby="2faModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% if mfa_secret %}Set up two-factor authentication{% elif mfa_secret and not g.user.email %}Email required for two-step login{% else %}Disable two-factor authentication{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      {% if mfa_secret %}
      <div>
        <form id="2fa-add-form" action="/settings/security" method="post">
          <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
          <input type="hidden" name="2fa_secret" value="{{ mfa_secret }}">
          <div class="modal-body">
            <p>
              <span class="font-weight-bold">Step 1:</span> Scan this barcode (or enter the code) using a two-factor authentication app such as Google Authenticator or Authy.
            </p>
            <div class="text-center mb-3">
              <img class="img-fluid" style="width: 175px;" src="/2faqr/{{ mfa_secret }}">
              <div class="text-small text-muted">Or enter this code: {{ mfa_secret }}</div>
            </div>
            <p>
              <span class="font-weight-bold">Step 2:</span> Write down your Two-Factor Recovery Code and store it in a safe place. This code will <span class="font-weight-bold">not</span> be shown again. <span class="font-weight-bold text-danger">If you lose your two-factor device, you will not be able to recover your account without this code.</span>
            </p>
            <p class="font-weight-bold text-purple text-center text-monospace">{{ recovery | upper }}</p>
            <p>
              <span class="font-weight-bold">Step 3:</span> Enter the six-digit code generated in the authenticator app and your {{ 'SITE_NAME' | app_config }} account password.
            </p>
            <label for="2fa_input">6-digit code</label>
            <input type="text" class="form-control mb-2" id="2fa_input" name="2fa_token" placeholder="# # # # # #" required>

            <label for="2fa_input_password">Password</label>
            <input type="password" autocomplete="new-password" class="form-control mb-2" id="2fa_input_password" name="password" autocomplete="off" required>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
          <button id="enable2faButton" class="btn btn-primary toast-form-submit" data-dismiss="modal" data-form="2fa-add-form">Enable 2-step login</button>
        </div>
      </div>
      {% else %}
      <div>
        <form id="2fa-remove-form" action="/settings/security" method="post">
          <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
          <input type="hidden" name="2fa_secret" value="{{ mfa_secret }}">
          <div class="modal-body">

            <div class="alert alert-warning" role="alert">
              <i class="fas fa-info-circle"></i>
              To disable two-step login, please enter your {{ 'SITE_NAME' | app_config }} account password and the 6-digit code generated in your authentication app. If you no longer have your two-step device, enter your Two-Factor Recovery Code instead.
            </div>

            <label for="2fa_input_password">Password</label>
            <input type="password" autocomplete="new-password" class="form-control mb-2" id="2fa_input_password" name="password" autocomplete="off" required>

            <label for="2fa_input">6-digit code</label>
            <input type="text" class="form-control mb-2" id="2fa_input" name="2fa_remove" placeholder="# # # # # #" required>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
          <button id="disable2faButton" class="btn btn-primary toast-form-submit" type="submit" data-form="2fa-remove-form" data-dismiss="modal">Disable 2-step login</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
