{% extends "errors/default.html" %}

{% block title %}
<title>+{{ b.name }} - {{ 'SITE_NAME' | app_config }}</title>
<meta name="description" content="This guild is banned.">
{% endblock %}

{% block icon %}
<span class="fa-stack text-muted">
    <i class="fad fa-chess-rook fa-stack-1x"></i>
    <i class="far text-danger fa-ban fa-stack-2x"></i>
</span>
{% endblock %}

{% block pagetitle %}+{{ b.name }} is banned.{% endblock %}

{% block pagebody %}
<p class="text-muted">This Guild has been permanently removed from {{ 'SITE_NAME' | app_config }}.</p>
{% if b.ban_reason %}
<p class="text-small text-muted"><span class="font-weight-bold">Reason:</span> {{ b.ban_reason }}</p>
{% endif %}
{% endblock %}