<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/640/480">

  <link rel="icon" type="image/png" href="{{ 'IMG_URL_FAVICON' | app_config }}">
  
	{% block title %}
	<title>{{ "SITE_NAME" | app_config }}: The Open-Source Platform for Independent Internet Communities</title>

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ 'SITE_NAME' | app_config }}: The Open-Source Platform for Independent Internet Communities" />
  <meta property="og:site_name" content="{{ 'SERVER_NAME' | app_config }}" />
  <meta property="og:image" content="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1200/630" />
  <meta property="og:url" content="{{ request.path | full_link }}">
  <meta property="og:description" name="description" content="{{ 'SITE_NAME' | app_config }} is an open-source platform for online communities, free of censorship and moderator abuse by design.">
  <meta property="og:author" name="author" content="@{{ 'SITE_NAME' | app_config }}" />
  <meta property="og:site_name" content="{{ 'SERVER_NAME' | app_config }}" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@{{ 'SITE_NAME' | app_config }}">
  <meta name="twitter:title" content="{{ 'SITE_NAME' | app_config }}: The Open-Source Platform for Independent Internet Communities" />
  <meta name="twitter:creator" content="@{{ 'SITE_NAME' | app_config }}">
  <meta name="twitter:description" content="{{ 'SITE_NAME' | app_config }} is an open-source platform for online communities, free of censorship and moderator abuse by design." />
  <meta name="twitter:image" content="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1200/630" />
  <meta name="twitter:url" content="{{ request.path | full_link }}" />
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% block ios_data %}
  <!-- iOS webapp -->
  <meta name="apple-mobile-web-app-title" content="{{ 'SITE_NAME' | app_config }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/180/180">
  <link rel="icon" type="image/png" sizes="32x32" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/32/32">
  <link rel="icon" type="image/png" sizes="16x16" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/16/16">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="shortcut icon" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/64/64">
  <meta name="application-name" content="{{ 'SITE_NAME' | app_config }}">
  <meta name="msapplication-TileColor" content="#{{ 'COLOR_PRIMARY' | app_config }}">
  <meta name="theme-color" content="#{{ 'COLOR_PRIMARY' | app_config }}">

  <link rel="apple-touch-startup-image" sizes="320x480" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/320/480" />
  <link rel="apple-touch-startup-image" sizes="640x960" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/640/960" />
  <link rel="apple-touch-icon" sizes="640x1136" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/640/1136" />
  <link rel="apple-touch-icon" sizes="750x1334" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/750/1334" />
  <link rel="apple-touch-startup-image" sizes="768x1004" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/768/1004" />
  <link rel="apple-touch-startup-image" sizes="768x1024" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/768/1024" />
  <link rel="apple-touch-startup-image" sizes="828x1792" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/828/1792" />
  <link rel="apple-touch-startup-image" sizes="1024x748" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1024/748" />
  <link rel="apple-touch-startup-image" sizes="1024x768" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1024/768" />
  <link rel="apple-touch-startup-image" sizes="1125x2436" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1125/2436" />
  <link rel="apple-touch-startup-image" sizes="1242x2208" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1242/2208" />
  <link rel="apple-touch-startup-image" sizes="1242x2688" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1242/2688" />
  <link rel="apple-touch-startup-image" sizes="1334x750" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1334/750" />
  <link rel="apple-touch-startup-image" sizes="1536x2008" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1536/2008" />
  <link rel="apple-touch-startup-image" sizes="1536x2048" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1536/2048" />
  <link rel="apple-touch-startup-image" sizes="1668x2224" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1668/2224" />
  <link rel="apple-touch-startup-image" sizes="1792x828" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/1792/828" />
  <link rel="apple-touch-startup-image" sizes="2048x1496" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2048/1496" />
  <link rel="apple-touch-startup-image" sizes="2048x1536" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2048/1536" />
  <link rel="apple-touch-startup-image" sizes="2048x2732" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2048/2732" />
  <link rel="apple-touch-startup-image" sizes="2208x1242" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2208/1242" />
  <link rel="apple-touch-startup-image" sizes="2224x1668" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2224/1668" />
  <link rel="apple-touch-startup-image" sizes="2436x1125" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2436/1125" />
  <link rel="apple-touch-startup-image" sizes="2668x1242" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2668/1242" />
  <link rel="apple-touch-startup-image" sizes="2737x2048" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/2737/2048" />
  {% endblock %}


  <!-- Ruqqus CSS -->
  
  {% if b and not request.path.startswith("/mod") %}
    <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_dark_url }}?v=3.2.3">
    <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_light_url }}?v=3.2.3">
  {% else %}
    <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/dark.css?v=3.2.3">
    <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/light.css?v=3.2.3">
  {% endif %}

  <!-- Code prettify - after default css but before custom css so it can be overridden -->

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/lang-css.js"></script>


  <!-- board custom css -->
  {% if b and not request.path.startswith("/mod") %}
    <link rel="stylesheet" href="{{ b.custom_css_url }}">
  {% endif %}

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">

  {% if g.user %}
  <link id="formkey_element" data-formkey="{{ g.user.formkey }}">
  {% endif %}

</head>

<body id="{% block pagetype %}frontpage{% endblock %}" class="{% if session.get('dark_mode_enabled') %}dark{% else %}light{% endif %}">

{% include "header.html" %}

{% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (g.system.endswith('/chrome') or g.system.endswith('/other')) %}
<div class="row fixed-top" id="mobile-prompt-row">
  <div id="mobile-prompt-container" class="ml-auto mr-5">
    <div id="mobile-prompt" href="javascript:void(0)" data-toggle="tooltip" data-container="#mobile-prompt-row" data-placement="top" data-trigger="click" title="" data-original-title="Install the {{ 'SITE_NAME' | app_config }} webapp by saving this page to your home screen!">
    </div>
  </div>
</div>
{% endif %}



{% if request.args.get("from_ruqqus") %}
<div id="redirect-banner" class="bg-warning w-100">
  <div class="mx-auto text-center">
    <span class="text-black">Welcome to Syzitus, a spiritual successor to the defunct Ruqqus platform. The rules have changed; please familiarize yourself with the updated <a href="/help/terms" target="_blank">terms</a> and <a href="help/rules" target="_blank">content policy</a>. Note that data has not carried over; whatever content you were looking for is not here.</span>
  </div>
</div>
{% elif ('EVENT_SNOWBALL_FIGHT'|app_config) and g.user %}
<div id="snowball-banner" class="bg-danger w-100">
  <div class="mx-auto text-center">
    <span class="text-white">Join the war of the holidays! {% if g.user.id%2 %}You are on Team Christmas - Help them hold out against the Halloween invaders!{% else %}You are on Team Halloween - Help them revolt against Christmas tyranny!{% endif %} | Christmas: {{ 'Team_Christmas' | event_score }} | Halloween: {{ 'Team_Halloween' | event_score }}</span>
  </div>
</div>
{% endif %}

<!-- Page Content -->

{% block mobileUserBanner %}
{% endblock %}

{% block mobileBanner %}
{% endblock %}

{% block postNav %}
{% endblock %}

<div class="container-fluid">
  <div class="row justify-content-around" id="main-content-row">

    {% block leftSidebar %}
    {% block leftSidebarBlock %}
    {% endblock %}
    {% endblock %}

    <div class="col h-100 bg-white {% block customPadding %}custom-gutters{% endblock %}" id="main-content-col">

      {% block desktopUserBanner %}
      {% endblock %}

      {% block desktopBanner %}
      {% endblock %}

      {% block PseudoSubmitForm %}
      {% endblock %}

      {% block searchText %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block pagenav %}
      {% if page %}
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm mb-0">
          {% if page>1 %}
          <li class="page-item">
            <small><a class="page-link" href="{% block prev_link %}?page={{ page-1 }}{% endblock %}" tabindex="-1">Prev</a></small>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Prev</span></li>
          {% endif %}
          {% if next_exists %}
          <li class="page-item">
            <small><a class="page-link" href="{% block next_link %}?page={{ page+1 }}{% endblock %}">Next</a></small>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}

    </div>

    <!-- Right Sidebar (hidden on devices smaller than "large") -->

    {% block sidebar %}
    <div class="col sidebar text-left d-none d-lg-block pt-3 bg-white border-left">
      {% block sidebarblock %}
      <div class="sidebar-section">
        <div class="title">
          <i class="fas fa-heart mr-2"></i>Support {{ "SITE_NAME" | app_config }}
        </div>
        <div class="body">

          <a href="/help/donate" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0">
            <span class="fa-stack fa-1x ml-n1 mr-2">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-bitcoin fa-stack-1x text-base fa-inverse"></i>
            </span>Donate Crypto
          </a>

          <a href="https://github.com/thecodeforge/syzitus/issues" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0">
            <span class="fa-stack fa-1x ml-n1 mr-2">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fas fa-bug fa-stack-1x text-base fa-inverse"></i>
            </span>Report Bugs
          </a>

        </div>
      </div>
      {% endblock %}

      {% if g.user and g.user.admin_level %}
      <div class="sidebar-section sidebar-adminpanel">
        <div class="title"><i class="fas fa-user-shield mr-2"></i>Admin Panel</div>
        <div class="body">
          {% block adminpanel %}
          <div class="text-center mb-2"><i class="fad fa-ghost text-muted"></i></div>
          <p class="text-center text-small text-muted mb-0">No admin actions available</p>
          {% endblock %}
        </div>
      </div>
      {% endif %}

      {% include "footer.html" %}

    </div>
    {% endblock %}
  </div>
</div>

{% block mobilenavbar %}
{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block guildModal %}
{% endblock %}

{% block toasts %}
{% include "toasts.html" %}
{% endblock %}

{% block user_modals %}
{% if g.user %}
{% include "flag_post_modal.html" %}
{% include "flag_comment_modal.html" %}
{% include "delete_comment_modal.html" %}
{% include "delete_post_modal.html" %}
{% include "tip_modal.html" %}
{% endif %}

{% if g.user and not g.user.is_suspended and p and ('FEATURE_ENABLE_GIFS'|app_config) %}
{% include "gif_modal.html" %}
{% endif %}

{% if g.user and g.user.mods_anything %}
{% include "kick_post_modal.html" %}
{% include "yank_post_modal.html" %}
{% endif %}

{% include "expanded_image_modal.html" %}
{% endblock %}

{% include "bootstrap.html" %}

{% block clipboardjs %}
<!-- ClipboardJS -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript" nonce="{{ g.nonce }}">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-copy-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-copy-error').toast('show');
    })
    console.log(e);
  });
</script>
{% endblock %}

<script src="/assets/js/all_js.js?v=3.2.3" importance="high" ></script>


<!-- Mobile "install the app" tooltip -->


{% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (not g.system.endswith('/chrome') and not g.system.endswith('/other')) and not g.system.endswith('/webview') %}

<div id="mobile-prompt-container" class="fixed-bottom">
  <div id="mobile-prompt" href="javascript:void(0)" data-toggle="tooltip" data-container="#mobile-prompt-container" data-placement="top" data-trigger="click" title="Install the {{ 'SITE_NAME' | app_config }} webapp by saving this page to your home screen!"></div>
</div>
{% endif %}

</body>

</html>
