<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="author" content="">

  {% block title %}
  <title>{{ "SITE_NAME" | app_config | lower }}: The Platform for Independent Internet Communities</title>
  <meta name="description" content="The independent social platform">
  {% endblock %}
  
  <link rel="icon" type="image/png" href="/logo/splash/{{ 'COLOR_PRIMARY' | app_config }}/{{ ( 'SITE_NAME' | app_config )[0] | lower }}/64/64">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- iOS webapp -->
  <link rel="apple-touch-icon" href="/assets/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Ruqqus">


  <!-- Ruqqus CSS -->

  <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/dark.css?v=3.0.8">
  <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/light.css?v=3.0.8">

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  {% if g.user %}
  <link id="formkey_element" data-formkey="{{ g.user.formkey }}">
  {% endif %}
</head>

<body id="{% block pagetype %}article{% endblock %}">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
          <div class="container">
              <a class="navbar-brand text-purple" href="/">{{ "SITE_NAME" | app_config }}</a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fal fa-bars text-dark fa-2x"></i></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarResponsive">
              <ul class="navbar-nav align-items-center ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/help/about">About</a>
                  </li>
                  {% block backbutton %}
                  {% if request.path != "/help" %}
                  <li class="py-md-0 py-1 px-md-2">
                      <a class="btn btn-primary" href="/help"><i class="fas fa-left-from-line mr-2"></i>Back to {{ "SITE_NAME" | app_config }} help</a>
                  </li>
                  {% endif %}
                  {% endblock %}
              </ul>
          </div>
      </div>
  </nav>


  <!-- Page Content -->

  <div class="jumbotron jumbotron-fluid jumbotron-docs">
    <div class="container">
      <form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search" method="get">
        <input class="form-control bg-white w-100" type="search" placeholder="Search" aria-label="Search" name="q">
        <span class="input-group-append">
          <span class="input-group-text border-0 bg-transparent ml--2">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </span>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around" id="main-content-row">

      <!-- Left Sidebar -->

{% block sidebarLeftblock %}

	<div class="col sidebar d-none d-lg-block p-3">

	<div class="sidebar-section">
			<div class="title">Help</div>
      <div class="body">
{% filter markdown %}	
**General Information**

* [About](/help/about)	
* [FAQ](/help/faq)	
* [Guild Siege](/help/siege)
* [Contact](/help/contact)

**Account Cosmetics**

* [Badges](/help/badges)	
* [Titles](/help/titles)	

**{{ "SITE_NAME" | app_config }} Policies**	

* [Terms of service](/help/terms)	
* [Content Policy](/help/rules)
* [CSAM](/help/csam)
* [Privacy Policy](/help/privacy)	
* [Legal Policies](/help/legal)	

**Legal Requests**	

* [Submit a Legal Request](/legal)	
* [Submit a DMCA takedown request](/help/dmca)	
* [Submit a DMCA counter-request](/help/counter_dmca)	

**Press**

* [Press Resources](/help/press)

{% endfilter %}	
      </div>
	</div>

	</div>

{% endblock %}


      <div class="col-11 col-lg-8 p-3" id="main-content-col">

        {% block postNav %}
        {% endblock %}

        {% block PseudoSubmitForm %}
        {% endblock %}

        {% block searchText %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagenav %}
        {% endblock %}

      </div>

    </div>
  </div>

</div>
</div>

{% include "footer_article.html" %}

<!-- Clipboard Toast -->

{% include "toasts.html" %}

{% include "bootstrap.html" %}

<script src="/assets/js/all_js.js?v=3.2.30"></script>

</body>

</html>
