<footer class="footer bg-primary py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <img class="footer-logo mb-3" src="{{ 'IMG_URL_LOGO_WHITE' | app_config }}">
        <p class="text-white">The open-source platform for independent internet communities</p>
      </div>
      <div class="col-12 col-md-9">
        <div class="row d-inline-block d-md-flex">
          <div class="col">
            <h6 class="text-white">The Platform</h6>
            <ul class="no-bullets text-small pl-0">
              <li><a href="/help/about">About</a></li>
              <li><a href="/help/press">Press</a></li>
            </ul>
          </div>
          <div class="col">
          <h6 class="text-white">Connect</h6>
            <ul class="no-bullets text-small pl-0">
              <li><a href="https://github.com/thecodeforge/syzitus">GitHub</a></li>
              <li><a href="https://twitter.com/syzitus">Twitter</a></li>
              <li><a href="discord">Discord</a></li>
            </ul>
          </div>
          <div class="col">
            <h6 class="text-white">Get involved</h6>
            <ul class="no-bullets text-small pl-0">
              <li><a href="/help/donate">Donate</a></li>
              <li><a href="https://github.com/thecodeforge/syzitus">Contribute</a></li>
            </ul>
          </div>
          <div class="col">
            <h6 class="text-white">Legal</h6>
            <ul class="no-bullets text-small pl-0">
              <li><a href="/help/terms">Terms</a></li>
              <li><a href="/help/privacy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>