<div class="sticky-63 d-none d-md-block">
  <ul class="list-inline text-small mb-0">
    <li class="list-inline-item"><a href="/help/about" class="text-gray-500">About</a></li>
    <li class="list-inline-item"><a href="/help/terms" class="text-gray-500">Terms</a></li>
    <li class="list-inline-item"><a href="/help/privacy" class="text-gray-500">Privacy Policy</a></li>
    <li class="list-inline-item"><a href="/help/donate" class="text-gray-500">Donate</a></li>
    <li class="list-inline-item"><a href="/help" class="text-gray-500">Help</a></li>
    <li class="list-inline-item"><a href="https://github.com/thecodeforge/syzitus" class="text-gray-500">Github</a></li>
    <li class="list-inline-item"><a href="https://twitter.com/syzitus" class="text-gray-500">Twitter</a></li>
    <li class="list-inline-item"><a href="/discord" class="text-gray-500">Discord</a></li>
  </ul>
  <div class="text-muted text-small-extra mt-1">v. 3.1.27</div>
</div>
