<!-- GIF Selection Modal - Powered by GIPHY -->
<div class="modal fade" id="gifModal" tabindex="-1" role="dialog" aria-labelledby="gifModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 shadow-md d-block p-3">
        <div class="form-group d-flex align-items-center w-100 mb-0">
          <div id="gifs-back-btn">
            <button class="btn btn-link pl-0 pr-3"><i class="fas fa-long-arrow-left text-muted"></i></button>
          </div>
          <form id="gif-search-form" action="/giphy" method="get">
            <input type="text" class="form-control" id="gifSearch" placeholder="Search Tenor and press enter">
          </form>
          <div id="gifs-cancel-btn">
            <button class="btn btn-link pl-3 pr-0" data-dismiss="modal"><i class="fas fa-times text-muted"></i></button>
          </div>
        </div>
      </div>
      <div class="scroll-y">
        <div class="modal-body p-0" id="gif-modal-body">

          <div id="no-gifs-found">
          </div>

          <div id="no-GIFs" class="text-center py-3 mt-3 d-none">
            <div class="mb-3">
              <i class="fad fa-frown text-gray-500"></i>
            </div>
            <p class="font-weight-bold text-gray-500 mb-0">Aw shucks. No GIFs found...</p>
          </div>

          <div class="card-columns gif-categories pt-3 px-3 pb-0" id="GIFs"></div>

          <div class="card-columns gif-categories pt-3 px-3 pb-0" id="default-GIFs">
            <div class="card searchcard" data-gif-search-term="agree">
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Agree</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/wGhYz3FHaRJgk/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="laugh"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Laugh</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/O5NyCibf93upy/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="confused"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Confused</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/3o7btPCcdNniyf0ArS/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="sad"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Sad</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/ISOckXUybVfQ4/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="happy"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Happy</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/XR9Dp54ZC4dji/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="awesome"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Awesome</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/3ohzdIuqJoo8QdKlnW/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="yes"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Yes</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/J336VCs1JC42zGRhjH/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="no"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">No</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/1zSz5MVw4zKg0/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="love"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Love</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/4N1wOi78ZGzSB6H7vK/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="please"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Please</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/qUIm5wu6LAAog/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="scared"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Scared</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/bEVKYB487Lqxy/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="angry"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Angry</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/12Pb87uq0Vwq2c/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="awkward"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Awkward</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/unFLKoAV3TkXe/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="cringe"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Cringe</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/1jDvQyhGd3L2g/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="omg"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">OMG</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/3o72F8t9TDi2xVnxOE/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="why"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Why</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/1M9fmo1WAFVK0/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="gross"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Gross</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/pVAMI8QYM42n6/200w_d.gif"> 
            </div> 
            <div class="card searchcard" data-gif-search-term="meh"> 
              <div class="gif-cat-overlay"> 
                <div class="gif-cat-text">Meh</div> 
              </div> 
              <img class="img-fluid" src="https://media.giphy.com/media/xT77XTpyEzJ4OJO06c/200w_d.gif"> 
            </div>
          </div>

          <div id="gifs-load-more">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
