{% set board = b if b else p.board %}

<div class="modal fade" id="guildDetailsModal" tabindex="-1" role="dialog" aria-labelledby="guildDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="guild-details-modal-banner" class="modal-header position-relative border-0">
        <div class="white-overlay position-absolute w-100 h-100 jumbotron-overlay-white"></div>
        <div class="d-flex align-items-center my-auto zi-3">
          <img src="{{ board.profile_url }}" class="profile-pic-65 bg-white mr-3">
          <h5 class="modal-title h4">+{{ board.name }}
          {% if board.over_18 %}
          <span class="badge badge-danger text-small ml-2" data-toggle="tooltip" data-placement="bottom" title="This guild contains adult content">nsfw</span>
          {% endif %}
          </h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>    
      <style nonce="{{ g.nonce }}">
        #guild-details-modal-banner {
          background-image: url('{{ b.banner_url }}');
        }
      </style>  
    <div class="modal-body p-0">
      <div class="d-flex justify-content-between align-items-center border-bottom p-3">

        <div class="">
          <div class="font-weight-bold text-small text-uppercase text-muted mb-1">Founded</div>
          <div data-toggle="tooltip" data-placement="bottom" title="{{ board.created_date }}">{{ board.age_string }}</div>
        </div>

        <div class="">
          <div class="font-weight-bold text-small text-uppercase text-muted mb-1">Guildmasters</div>
          <div>{{ board.mods_count }}</div>
        </div>

        <div class="">
          <div class="font-weight-bold text-small text-uppercase text-muted mb-1">Members</div>
          <div>{{ board.stored_subscriber_count }}</div>
        </div>

      {% if g.user%}
      <div id="button-sub-modal-{{ b.fullname }}" {% if board.has_subscriber(v) %}class="d-none"{% endif %}><a class="btn btn-primary" href="javascript:void(0)" data-thing-id="{{ b.fullname }}" data-board-name="{{ b.name }}">Join guild</a></div>
      <div id="button-unsub-modal-{{ b.fullname }}" {% if not board.has_subscriber(v) %}class="d-none"{% endif %}><a class="btn btn-secondary" href="javascript:void(0)" data-thing-id="{{ b.fullname }}" data-board-name="{{ b.name }}">Leave</a></div>
      {% elif not g.user%}
      <a class="btn btn-primary" href="/signup">Join guild</a>
      {% endif %}

      </div>
      <div class="p-3">

        <div class="h6">About</div>

        {{ board.description_html | safe }}

      </div>

    </div>

    <div class="modal-footer" style="background-color: transparent; background-image: linear-gradient(180deg, #ffffff00 25%, #ffffff 100%);">

    </div>

  </div>
</div>
</div>