{% extends "errors/default.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block icon %}
<i class="fad {{ icon if icon else 'fa-check' }}"></i>
{% endblock %}

{% block pagetitle %}{{ title }}{% endblock %}
{% block pagebody %}
<p class="text-muted mb-5">{{ message if message else error }}</p>
{% endblock %}

{% block continue %
{% if link and link_text %}
<a href="{{ link }}" class="btn btn-primary btn-sm">{{ link_text }}</a>
{% else %}
<a href="/" class="btn btn-primary btn-sm">Go to homepage</a>
{% endif %}
{% endblock %}

