<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="{{ 'IMG_URL_THUMBSPLASH' | app_config }}">

  <title>{% block pagetitle %}Settings - {{ 'SITE_NAME' | app_config  }}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Ruqqus CSS -->

  <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/dark.css?v=3.1.66">
  <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/{{ 'COLOR_PRIMARY' | app_config }}/light.css?v=3.1.66">

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  <link id="formkey_element" data-formkey="{{ g.user.formkey }}">
  
</head>

<body id="settings">

  {% include "header.html" %}
  <!-- Page Content -->
  <div class="container">

    <div class="row justify-content-around">

  <div class="col h-100">

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-exclamation-circle my-auto"></i>
      <span>
        {{ error }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}
    {% if msg %}
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
      <span>
        {{ msg }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}

    <div class="mt-3">

      <h1 class="d-none d-md-block">Settings</h1>

      <h2 class="h3 d-md-none">Settings</h2>

    </div>

    <!-- Settings tabs -->

    <!-- Desktop -->

    <div class="flex-row bg-white box-shadow-bottom sticky d-none d-sm-flex mt-3 mb-3 mb-sm-5">

      <ul class="nav settings-nav">
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/profile' %} active{% endif %}" href="/settings/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/content' %} active{% endif %}" href="/settings/content">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/security' %} active{% endif %}" href="/settings/security">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/premium' %} active{% endif %}" href="/settings/premium">Premium</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/blocks' %} active{% endif %}" href="/settings/blocks">Block Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/filters' %} active{% endif %}" href="/settings/filters">Hide Guilds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/apps' %} active{% endif %}" href="/settings/apps">Apps</a>
        </li>
      </ul>

    </div>

    <!-- Mobile -->

    <div class="flex-row bg-white box-shadow-bottom sticky justify-content-center d-flex d-sm-none mt-3 mb-3 mb-sm-5">

      <ul class="nav settings-nav">
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/profile' %} active{% endif %}" href="/settings/profile"><i class="fas fa-cog text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/content' %} active{% endif %}" href="/settings/content"><i class="fas fa-filter text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/security' %} active{% endif %}" href="/settings/security"><i class="fas fa-lock-alt text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/premium' %} active{% endif %}" href="/settings/premium"><i class="fas fa-star text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/blocks' %} active{% endif %}" href="/settings/blocks"><i class="fas fa-user-minus text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/filters' %} active{% endif %}" href="/settings/filters"><i class="fas fa-eye-slash text-lg mr-0"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path=='/settings/apps' %} active{% endif %}" href="/settings/apps"><i class="fas fa-code text-lg mr-0"></i></a>
        </li>
      </ul>

    </div>

   {% block content %}
   {% endblock %}
   
  </div>
</div>

 </div>

 {% include "footer_bottom.html" %}

 <!-- Clipboard Toast -->

{% include "toasts.html" %}

{% include "bootstrap.html" %}



<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript" nonce="{{ g.nonce }}">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-copy-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-copy-error').toast('show');
    })
    console.log(e);
  });
</script>

<!--Post toasts -->
{% include "toasts.html" %}

<script src="/assets/js/all_js.js?v=3.1.66"></script>

</body>

</html>
