{% extends "login.html"}

{% block content %}
{% if ref_user %}
<h1 class="h2">@{{ ref_user.username }} has invited you!</h1>
<p class="text-muted mb-md-5">Open this link in a non-Tor browser to accept this invitation.</p>
<p class="text-muted mb-md-5">You can resume using Tor right away after you sign up.</p>
{% else %}
<h1 class="h2">Create your account.</h1>
<p class="text-muted mb-md-5">Open this link in a non-Tor browser.</p>
<p class="text-muted mb-md-5">You can resume using Tor right away after you sign up.</p>
{% endif %}
{% endblock %}