{% for p in listing %}

{% set ups=p.upvotes_fuzzed %}
{% set downs=p.downvotes_fuzzed %}
{% set score=ups-downs %}

{% if g.user %}
{% set voted= p.voted %}
{% else %}
{% set voted=-2 %}
{% endif %}


<div id="post-{{ p.base36id }}" class="card{% if p.is_banned %} banned{% endif %}{% if p.deleted_utc > 0 %} deleted{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}{% if p.over_18 %} nsfw{% endif %}{% if p.is_nsfl %} nsfl{% endif %}{% if request.path.startswith('/embed/') %} border rounded{% endif %} {% if loop.index%2%}post-listing-odd{% else %}post-listing-even{% endif %}">

  <div class="d-flex flex-row-reverse flex-md-row flex-nowrap justify-content-end">

    <!-- Voting on "medium" devices or larger, hidden on smaller devices -->

    <div class="voting my-2 d-none d-md-block pr-2">
      {% if g.user and request.path.startswith(('/@',)) %}

      {% if voted==1 %}
      <div class="mx-auto arrow-up post-{{ p.base36id }}-up active"></div>
      {% endif %}

      <span id="post-score-{{ p.base36id }}" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

      {% if voted==-1 %}
      <div class="text-muted mx-auto arrow-down post-{{ p.base36id }}-down active"></div>
      {% endif %}

      
      {% elif g.user %}

      <div id="post-{{ p.base36id }}-up" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="mx-auto arrow-up upvote-button post-{{ p.base36id }}-up {% if voted==1 %}active{% endif %}"></div>

      <span id="post-score-{{ p.base36id }}" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

      <div id="post-{{ p.base36id }}-down" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="text-muted mx-auto arrow-down downvote-button post-{{ p.base36id }}-down {% if voted==-1 %}active{% endif %}"></div>

      {% else %}

      <div id="post-{{ p.base36id }}-up" tabindex="0" class="mx-auto arrow-up go-to-login"></div>

      <span id="post-{{ p.base36id }}-score-none" class="score"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

      <div id="post-{{ p.base36id }}-down" tabindex="0" class="text-muted mx-auto arrow-down go-to-login"></div>


      {% endif %}

    </div>

    <div class="card-header bg-transparent border-0 d-flex flex-row flex-nowrap pl-2 pl-md-0 p-0 mr-md-2">

      <div class="position-relative d-none d-md-block zi-3">
        {% if request.path.startswith('/embed/') and p.thumb_url %}
        <a href="{{ p.permalink }}">
          <img src="{{ p.thumb_url }}" class="post-img">
        </a>

        {% elif p.thumb_url and p.is_image and (p.over_18 or p.is_nsfl) and (not b or b.id==1) %}

        <a href="javascript:void(0)" class="expandable-image" data-toggle="modal" data-target="#expandImageModal" data-url="{{ p.url }}">
          <div class="blur-container">
            <img src="{{ p.thumb_url }}" class="post-img img-blur">
          </div>
        </a>

        {% elif p.thumb_url and p.is_image %}
        <a href="javascript:void(0)" class="expandable-image" data-toggle="modal" data-target="#expandImageModal" data-url="{{ p.url }}">
          <img src="{{ p.thumb_url }}" class="post-img">
        </a>

        {% elif p.thumb_url %}
        <a href="{{ p.url }}" rel="nofollow noopener" target="_blank">
          <img src="{{ p.thumb_url }}" class="post-img" alt="">
        </a>

        {% elif p.embed_url %}
        <a href="{{ p.url }}" target="_blank" rel="nofollow noopener">
          <img src="/assets/images/icons/default_thumb_yt.png" class="post-img border-0" alt="generic youtube embed thumbnail">
        </a>

        {% elif p.url %}
        <a href="{{ p.url }}" rel="nofollow noopener" target="_blank">
          <img src="/assets/images/icons/default_thumb_link.png" class="post-img border-0" alt="generic link post thumbnail">
        </a>

        {% else %}
        <a href="{{ p.permalink }}" target="_blank" rel="{% if p.author.is_private %}nofollow {% endif %}noopener">
          <img src="/assets/images/icons/default_thumb_text.png" class="post-img border-0" alt="text post thumbnail">
        </a>
        {% endif %}
      </div>


      <div class="d-block d-md-none zi-3">
        {% if p.thumb_url %}
          {% if p.is_image and (p.over_18 or p.is_nsfl) and (not b or b.id==1) %}

          <a href="javascript:void(0)" rel="nofollow noopener" class="expandable-image" data-toggle="modal" data-target="#expandImageModal" data-url="{{ p.url }}">
            <div class="blur-container">
              <img src="{{ p.thumb_url }}" class="post-img img-blur">
            </div>
          </a>
          {% elif p.is_image %}
          <a href="javascript:void(0)" rel="nofollow noopener" class="expandable-image" data-toggle="modal" data-target="#expandImageModal" data-url="{{ p.url }}">
            <img src="{{ p.thumb_url }}" class="post-img">
          </a>
          {% elif p.url and not request.path.startswith('/embed/') %}
          <a href="{{ p.url }}" rel="nofollow noopener">
            <img src="{{ p.thumb_url }}" class="post-img" alt="link post thumbnail">
          </a>
          {% endif %}
        {% endif %}

      </div>

    </div>

    <div class="card-block text-left x-scroll-parent my-md-auto w-100">

      <div class="d-block d-md-none mb-1">

        <div class="post-meta text-left x-scroll {% if p.author.id%2 %}author-id-odd{% else %}author-id-even{% endif %}">{% if not b %}<a href="{{ p.board.permalink }}">+{{ p.board.name }}</a> · {% endif %}
          {% if p.stickied %}{% include "tags/sticky.html" %} · {% endif %}
          {% if p.is_pinned %}{% include "tags/pin.html" %} · {% endif %}
          {% if p.over_18 %}{% include "tags/nsfw.html" %} · {% endif %}
          {% if p.is_nsfl %} · {% include "tags/nsfl.html" %}{% endif %}
          {% if ('EVENT_SNOWBALL_FIGHT'|app_config) %}{% include "tags/holiday_faction.html" %} · {% endif %}
          {% if p.is_repost %}{% include "tags/repost.html" %} · {% endif %} <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_date }}">{{ p.age_string }}</span> by {% if p.author.is_deleted %}[deleted account]{% elif g.is_archive and p.author.is_private %}[username not archived due to privacy settings]{% elif p.is_deleted and request.path.startswith('/embed/') %}[deleted by author]{% elif p.is_banned and request.path.startswith('/embed/') %}[removed by administrators]{% else %}<a href="/@{{ p.author.username }}" class="user-name"><img src="{{ p.author.profile_url }}" class="profile-pic-20 mr-1"/><span class="user-name-inner">{{ p.author.username }}</span></a>{% if p.author.title %}{{ p.author.title.rendered | safe }}{% endif %}
          {% if p.distinguish_level %}{% include "tags/admin.html" %}{% endif %}
          {% if p.gm_distinguish %}{% include "tags/herald.html" %}{% endif %}
          {% endif %}{% if p.award_count %} · <span><img class="coin-ruqqus" src="/assets/images/icons/ruqqus-coin.png" /><span class="pl-1 text-warning font-weight-bold">{{ p.award_count }}</span></span>{% endif %} · ({{ p.domain }})
          {% if not p.is_public %} · <i class="fas fa-eye-slash text-warning" data-toggle="tooltip" data-placement="bottom" title="Private post, visible to you because {{ p.visibility_reason(g.user) }}"></i>{% endif %}
          {% if p.is_bot %}{% include "tags/bot.html" %}{% endif %}
          {% if p.is_blocking %}{% include "tags/blocking.html" %}{% endif %}
          {% if p.is_blocked %}{% include "tags/blocked.html" %}{% endif %}
          {% if g.user and g.user.admin_level >=3 and p.active_flags %} · <span class="text-danger">{{ p.active_flags }} Flag{{ 's' if p.active_flags>1 else '' }}</span>{% endif %}{% if "/mod/queue" in request.path and p.active_reports %} · <span class="text-danger">{{ p.active_reports }} Reports</span>{% endif %}
        </div>
      </div>

      <div class="post-meta text-left d-none d-md-block mb-md-2 {% if p.author.id%2 %}author-id-odd{% else %}author-id-even{% endif %}">
        {% if not b %}<span class="font-weight-bold"><a href="{{ p.board.permalink }}" class="text-black"><img src="{{ p.board.profile_url }}" class="profile-pic-20 align-top mr-1">+{{ p.board.name }}</a></span> · {% endif %}
        {% if p.stickied %}{% include "tags/sticky.html" %} · {% endif %}
        {% if p.is_pinned %}{% include "tags/pin.html" %} · {% endif %}
        <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_datetime }}">{{ p.age_string }}</span> by {% if p.author.is_deleted %}[deleted account]{% elif g.is_archive and p.author.is_private %}[username not archived due to privacy settings]{% elif p.is_deleted and request.path.startswith('/embed/') %}[deleted by author]{% elif p.is_banned and request.path.startswith('/embed/') %}[removed by administrators]{% else %}<a href="/@{{ p.author.username }}" class="user-name"><img src="{{ p.author.profile_url }}" class="profile-pic-20 mr-1"/><span class="user-name-inner">{{ p.author.username }}</span></a>{% if p.author.title %}{{ p.author.title.rendered | safe }}{% endif %}
        {% if p.gm_distinguish %}{% include "tags/herald.html" %}{% endif %}
        {% endif %}
        {% if p.distinguish_level %}{% include "tags/admin.html" %}{% endif %}
        {% if ('EVENT_SNOWBALL_FIGHT'|app_config) %}{% include "tags/holiday_faction.html" %}{% endif %}
        {% if p.award_count %} · <span><img src="/assets/images/icons/ruqqus-coin.png" class="coin-ruqqus"/><span class="pl-1 text-warning font-weight-bold">{{ p.award_count }}</span></span>{% endif %} · ({% if p.url %}<a href="/search?q=domain%3A{{ p.domain }}&sort=new&t=all" target="_blank">{{ p.domain }}</a>{% else %}text post{% endif %})
        {% if not p.is_public %} · <i class="fas fa-eye-slash text-warning" data-toggle="tooltip" data-placement="bottom" title="Private post, visible because {{ p.visibility_reason(g.user) }}"></i>{% endif %}
        {% if p.over_18 %} · {% include "tags/nsfw.html" %}{% endif %}
        {% if p.is_nsfl %} · {% include "tags/nsfl.html" %}{% endif %}
        {% if p.is_bot %}{% include "tags/bot.html" %}{% endif %}
        {% if p.is_blocking %}{% include "tags/blocking.html" %}>{% endif %}
        {% if p.is_blocked %}{% include "tags/blocked.html" %}{% endif %}
        {% if p.is_repost %} · {% include "tags/repost.html" %}{% endif %}
        {% if g.user and g.user.admin_level >=3 and p.active_flags %}<span class="text-danger">{{ p.active_flags }} Flag{{ 's' if p.active_flags>1 else '' }}</span>{% endif %}
        {% if "/mod/queue" in request.path and p.active_reports %} · <span class="text-danger">{{ p.active_reports }} Reports</span>{% endif %}

      </div>

      <h5 class="card-title post-title text-left w-lg-75 mb-0 pb-0 pb-md-1"><a href="{{ p.permalink }}" class="stretched-link" {% if p.author.is_private %} rel="nofollow"{% endif %}>{{ p.title | safe }}</a></h5>


      {% if p.thumb_url %}
      <div class="row post-img-lg mb-3">
        <div class="col px-0">
          <a target="_blank" href="{{ p.permalink }}" rel="{% if p.author.is_private %}nofollow {% endif %} noopener"><img src="{{ p.thumb_url }}" class="img-fluid" alt="post image"></a>
        </div>
      </div>
      {% endif %}

      <div class="post-actions mt-2 d-none d-md-block">
        <ul class="list-inline text-right d-flex">
          
          {% if p.body_html and not request.path.startswith('/embed/') %}
          <li class="list-inline-item"><a href="javascript:void(0)" class="text-expand" data-id="{{ p.base36id }}"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{ p.base36id }}"></i></a></li>
          {% endif %}

          <li class="list-inline-item"><a href="{{ p.permalink }}"{% if p.author.is_private %} rel="nofollow"{% endif %}><i class="fas fa-comment-dots"></i>{{ p.comment_count }}</a></li>

          <li class="list-inline-item"><a href="javascript:void(0)" role="button" class="copy-link" data-clipboard-text="{{ p.permalink | full_link }}"><i class="fas fa-copy"></i>Copy link</a></li>

          {% if g.user and not g.user.id==p.author_id and not p.author.is_deleted %}
          <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#tipModal" class="btn-tip-modal-trigger" data-target-author-profile-url="{{ p.author.profile_url }}" data-target-type="post" data-target-author="{{ p.author.username }}" data-tip-url="/gift_post/{{ p.base36id }}?coins=1"><i class="fas fa-star"></i>Tip</a></li>
          {% endif %}
          {% if g.user and not g.user.id==p.author_id %}
          <li class="list-inline-item"><a href="javascript:void(0)" class="btn-report-post" data-toggle="modal" data-target="#reportPostModal" data-post-id="{{ p.base36id}}" data-target-author="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]' }}" data-target-board="{{ p.board.name }}" data-report-url="/api/flag/post/{{ p.base36id }}"><i class="fas fa-flag"></i>Flag</a></li>
          {% endif %}

          {% if p.url and p.has_thumb==False and g.user and (g.user.id==p.author_id or g.user.admin_level>=3) %}
          <li class="list-inline-item"><a href="javascript:void(0)" class="post-toast-url-reload" data-post-url="/retry_thumb/{{ p.base36id }}"><i class="fas fa-image"></i>Retry Thumb</a></li>
          {% endif %}

          {% if g.user and g.user.id==p.author_id and p.deleted_utc == 0 %}
          <li class="list-inline-item"><a href="javascript:void(0)" class="btn-delete-post" data-toggle="modal" data-target="#deletePostModal" data-post-id="{{ p.base36id }}"><i class="fas fa-trash-alt"></i>Delete</a></li>
          {% endif %}

          {% if g.user %}

          {% if g.user.mods_anything and p.board.name == 'general' %}
          <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#yankPostModal" data-post-author="{{ p.author.username }}" data-post-id="{{ p.base36id }}" data-comment-count="{{ p.comment_count }}" data-title="{{ p.title }}" data-author-link="{{ p.author.permalink }}" data-domain="{{ p.domain }}" data-timestamp="{{ p.age_string }}" class="d-block btn-yank-post"><i class="fas fa-hand-lizard"></i>Yank</a></li>
          {% endif %}

          {% if p.is_guildmaster('content') %}
          <li class="list-inline-item"><a class="text-danger kick-button-listing" href="javascript:void(0)" data-boardname="{{ p.board.name }}" data-pid="{{ p.base36id }}"><i class="fas fa-sign-out fa-flip-horizontal text-danger"></i>Kick</a></li>
          {% if not p.is_banned and p.report_count %}
          <li class="list-inline-item"><a class="text-success gm-approve-post" href="javascript:void(0)" data-board-name="{{ p.board.name }}" data-post-id="{{ p.base36id }}"><i class="fas fa-check text-success"></i>Approve</a></li>
          {% endif %}
          {% endif %}
          {% if g.user.admin_level >=1 %}
          <li class="list-inline-item admin-approve-post-{{ p.base36id }} {% if not p.is_banned and not p.flag_count and '/admin/flagged/' not in request.path %}d-none{% endif %}"><a class="text-success admin-approve-post" href="javascript:void(0)" data-post-id="{{ p.base36id }}"><i class="fas fa-check text-success"></i>Approve</a></li>

          <li class="list-inline-item admin-remove-post-{{ p.base36id }} {% if p.is_banned %}d-none{% endif %}"><a class="admin-remove-post" href="javascript:void(0)" data-post-id="{{ p.base36id }}"><i class="fas fa-ban"></i>Remove</a></li>
          {% endif %}

          {% if g.user.admin_level >= 4 and p.oauth_app %}
          <li class="list-inline-item"><a href="{{ p.oauth_app.permalink }}" ><i class="fas fa-code"></i>API App</a></li>
          {% endif %}

          {% if g.user %}
          <li class="list-inline-item d-none d-md-inline-block">
            <div class="dropdown show">
              <a href="javascript:void(0)" role="button" id="dropdownMoreLink-{{ p.base36id }}" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <i class="fas fa-ellipsis-h text-small mr-0"></i>
              </a>

              <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMoreLink-{{ p.base36id }}">

                <a  class="dropdown-item text-black" href="{{ p.votes_permalink }}" target="_blank"><i class="fas fa-arrow-up-arrow-down"></i>Votes</a>

                {% if g.user and not p.is_subscribed and not b %}
                <a id="button-sub-{{ p.fullname }}" class="dropdown-item text-black btn-guild-sub" href="javascript:void(0)" data-board-name="{{ p.board.name }}" data-thing-id="{{ p.fullname }}"><i class="fas fa-chess-rook text-black"></i>Join Guild</a>
                {% endif %}
                {% if not g.user.id==p.author_id and not p.author.is_deleted %}
                <a id="block-user-{{ p.base36id }}" class="dropdown-item btn-block-user text-danger{% if p.is_blocking %} d-none{% endif %}" href="javascript:void(0)" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash text-danger"></i>Block user</a>
                <a id="unblock-user-{{ p.base36id }}" class="dropdown-item btn-unblock-user text-danger{% if not p.is_blocking %} d-none{% endif %}" href="javascript:void(0)" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash text-danger"></i>Unblock user</a>
                {% endif %}
                {% if request.path=="/all" %}
                <a id="hide-guild-{{ p.base36id }}" class="dropdown-item text-danger btn-hide-guild {% if p.is_blocking_guild %} d-none{% endif %}" href="javascript:void(0)" data-post-id="{{ p.base36id }}" data-board-name="{{ p.board.name }}"><i class="fas fa-eye-slash text-danger"></i>Hide guild</a>
                <a id="unhide-guild-{{ p.base36id }}" class="dropdown-item text-danger btn-unhide-guild {% if not p.is_blocking_guild %} d-none{% endif %}" href="javascript:void(0)" data-post-id="{{ p.base36id }}" data-board-name="{{ p.board.name }}"><i class="fas fa-eye-slash text-danger"></i>Unhide guild</a>
                {% endif %}
              </div>
            </div>
          </li>
          {% endif %}
        {% endif %}

        </ul>
    </div>

{% if p.body_html %}
      <div class="{% if not request.path.startswith('/embed/') %}d-none{% endif %} card rounded border pb-0 pt-3 my-2" id="post-text-{{ p.base36id }}">
        {{ p.body_html | safe }}
      </div>
{% endif %}
          
  </div>

</div>

<div class="card-footer d-block d-md-none mt-2">
  <div class="post-actions">
    <ul class="list-inline text-right d-flex">
      <li class="list-inline-item mr-auto"><a href="{{ p.permalink }}"{% if p.author.is_private %} rel="nofollow"{% endif %}><i class="fas fa-comment-dots"></i>{{ p.comment_count }}</a></li>

      {% if p.body_html and not request.path.startswith('/embed/') %}
          <li class="list-inline-item"><a href="javascript:void(0)" class="text-expand" data-id="{{ p.base36id }}"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{ p.base36id }}"></i></a></li>
      {% endif %}
      

      <li class="list-inline-item"><a href="javascript:void(0)" role="button" class="copy-link" data-clipboard-text="{{ p.permalink | full_link}}"><i class="fas fa-link"></i>Share</a></li>
      {% if g.user %}
      <li class="list-inline-item">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#actionsModal-{{ p.fullname }}">
          <i class="fas fa-ellipsis-h"></i>
        </a>
      </li>
      {% endif %}


      {% if g.user and request.path.startswith(('/@',)) %}
      <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none">

        {% if voted==1 %}
        <span class="mr-2 arrow-up post-{{ p.base36id }}-up active"></span>
        {% endif %}

        <span id="post-score-{{ p.base36id }}-mobile" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-toggle="tooltip" data-placement="top" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

        {% if voted==-1 %}
        <span class="ml-2 my-0 arrow-down post-{{ p.base36id }}-down active">
        </span>
        {% endif %}


      </li>
      {% elif g.user %}
      <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none">

        <span id="post-{{ p.base36id }}-up-mobile" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="mr-2 arrow-up upvote-button post-{{ p.base36id }}-up {% if voted==1 %}active{% endif %}">
        </span>

        <span id="post-score-{{ p.base36id }}-mobile" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-toggle="tooltip" data-placement="top" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

        <span id="post-{{ p.base36id }}-down-mobile" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="ml-2 my-0 arrow-down downvote-button post-{{ p.base36id }}-down {% if voted==-1 %}active{% endif %}">
        </span>

      </li>
      {% else %}
      <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none">
        <span id="arrow-{{ p.base36id }}-mobile-up" tabindex="0" class="mr-2 arrow-mobile-up go-to-login">
          <i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
        </span>

        <span id="post-score-{{ p.base36id }}-mobile" class="score"{% if not p.is_banned %} data-toggle="tooltip" data-placement="top" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{{ score }}</span>

        <span id="arrow-{{ p.base36id }}-mobile-down" tabindex="0" class="arrow-mobile-down ml-2 my-0 go-to-login">
          <i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
        </span>
      </li>
      {% endif %}



    </ul>
    
  </div>
  
</div>
      

<!-- Post Actions Modal -->
<div class="modal fade modal-sm-bottom d-md-none" id="actionsModal-{{ p.fullname }}" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="col modal-title text-center h6">More options</h5>
        <button type="button" class="close position-absolute py-3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle text-gray-500"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group post-actions">
          <li class="list-group-item d-none"><a href="javascript:void(0)" class="d-block"><i class="fas fa-save"></i>Save</a></li>
          {% if g.user and not g.user.id==p.author_id and not p.author.is_deleted %}
          <button class="btn btn-link btn-block btn-lg text-left text-warning btn-tip-modal-trigger" data-dismiss="modal" data-toggle="modal" data-target="#tipModal" data-target-author-profile-url="{{ p.author.profile_url }}" data-target-type="post" data-target-author="{{ p.author.username }}" data-tip-url="/gift_post/{{ p.base36id }}?coins=1"><i class="far fa-star fa-fw text-center text-warning mr-3"></i>Tip</button>
          {% endif %}
          {% if g.user and not g.user.id==p.author_id %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" data-post-id="{{ p.base36id}}" data-target-author="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]' }}" data-target-board="{{ p.board.name }}" data-report-url="/api/flag/post/{{ p.base36id }}" class="d-block btn-report-post"><i class="far fa-flag fa-fw text-center text-muted mr-3"></i>Flag</button>
          {% endif %}

          {% if g.user and not p.is_deleted and not p.is_banned %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="{{ p.votes_permalink }}" target="_blank"><i class="far fa-arrow-up-arrow-down fa-fw text-center text-muted mr-3"></i>Votes</a></button>
          {% endif %}

          {% if g.user and g.user.id==p.author_id and p.deleted_utc == 0 %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted btn-delete-post" data-toggle="modal" data-dismiss="modal" data-target="#deletePostModal" data-post-id="{{ p.base36id }}"><i class="far fa-trash-alt fa-fw text-center text-muted mr-3"></i>Delete</button>
          {% endif %}
          {% if g.user and g.user.mods_anything and p.board_id==1 %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#yankPostModal" class="d-block btn-yank-post" data-post-author="{{ p.author.username }}" data-post-id="{{ p.base36id }}" data-comment-count="{{ p.comment_count }}" data-title="{{ p.title }}" data-author-link="{{ p.author.permalink }}" data-domain="{{ p.domain }}" data-timestamp="{{ p.age_string }}"><i class="far fa-hand-lizard fa-fw text-center text-muted mr-3"></i>Yank</button>
          {% endif %}
          {% if g.user %}
          {% if not p.is_subscribed %}
          <button id="button-sub-{{ p.base36id }}" class="btn btn-link btn-block btn-lg text-left text-muted btn-guild-sub" data-dismiss="modal" data-board-name="{{ p.board.name }}" data-thing-id="{{ p.base36id }}"><i class="fas fa-chess-rook fa-fw text-muted mr-3"></i>Join +{{ p.board.name }}</button>
          {% endif %}
          {% if p.is_guildmaster('content') %}
          <button class="btn btn-link btn-block btn-lg text-left text-danger" id="kick-post-{{ p.base36id }}" class="kick-button-listing" href="javascript:void(0)" data-boardname="{{ p.board.boardname }}" data-pid="{{ p.base36id }}"><i class="far fa-sign-out fa-fw fa-flip-horizontal text-center text-danger mr-3"></i><span class="kick-text">Kick</span></button>

          {% if p.is_pinned %}
          <button class="btn btn-link btn-block btn-lg text-left text-info post-url-reload" id="pin-post-{{ p.base36id }}" href="javascript:void(0)" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/0"><i class="fas fa-thumbtack fa-fw fa-rotate--45 text-center text-info mr-3"></i>Unpin</button>
          {% elif p.board.can_pin_another %}
          <button class="btn btn-link btn-block btn-lg text-left text-info post-url-reload" id="pin-post-{{ p.base36id }}" href="javascript:void(0)" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/1"><i class="fas fa-thumbtack fa-fw fa-rotate--45 text-center text-info mr-3"></i>Pin</button>
          {% endif %}

          {% if p.report_count >= 1 %}
          <button class="btn btn-link btn-block btn-lg text-left text-success gm-approve-post" data-board-name="{{ p.board.name }}" data-post-id="{{ p.base36id }}"><i class="far fa-check fa-fw text-center text-success mr-3"></i>Approve</button>
          {% endif %}


          {% endif %}
          {% if g.user.admin_level >=1 %}
          <button class="btn btn-link btn-block btn-lg text-left text-danger admin-approve-post admin-approve-post-{{ p.base36id }} {% if not p.is_banned and not p.flag_count and '/admin/flagged/' not in request.path %}d-none{% endif %}" href="javascript:void(0)" data-post-id="{{ p.base36id }}"><i class="far fa-check fa-fw text-success text-success mr-3"></i>Approve</button>

          <button class="btn btn-link btn-block btn-lg text-left text-danger admin-remove-post admin-remove-post-{{ p.base36id }}" href="javascript:void(0)" data-post-id="{{ p.base36id }}"><i class="far fa-ban fa-fw text-center text-danger mr-3{% if p.is_banned %} d-none{% endif %}"></i>Remove</button>
          {% endif %}

          {% if g.user.admin_level >= 4 and p.oauth_app %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="{{ p.oauth_app.permalink }}" ><i class="fas fa-code fa-fw text-center text-muted mr-3"></i>API App</a></button>
          {% endif %}

          {% endif %}


          {% if g.user and not g.user.id==p.author_id and not p.author.is_deleted %}
          <button id="block-user-button-{{ p.base36id }}" class="btn btn-link btn-block btn-block-user btn-lg text-left text-danger{% if p.is_blocking %} d-none{% endif %}" data-dismiss="modal" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash fa-fw text-danger mr-3"></i>Block @{{ p.author.username }}</button>
          <button id="unblock-user-button-{{ p.base36id }}" class="btn btn-link btn-block btn-unblock-user btn-lg text-left text-danger{% if not p.is_blocking %} d-none{% endif %}" data-dismiss="modal" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash fa-fw text-danger mr-3"></i>Unblock @{{ p.author.username }}</button>
          {% endif %}

          {% if g.user and request.path=="/all" %}
          <button id="hide-guild-button-{{ p.base36id }}" class="btn btn-link btn-block btn-lg btn-hide-guild text-left text-danger{% if p.is_blocking_guild %} d-none{% endif %}" data-dismiss="modal" data-post-id="{{ p.base36id }}" data-board-name="{{ p.board.name }}"><i class="fas fa-user-slash fa-fw text-danger mr-3"></i>Filter +{{ p.board.name }}</button>
          <button id="unhide-guild-button-{{ p.base36id }}" class="btn btn-link btn-block btn-lg btn-unhide-guild text-left text-danger{% if not p.is_blocking_guild %} d-none{% endif %}" data-dismiss="modal" data-post-id="{{ p.base36id }}" data-board-name="{{ p.board.name }}"><i class="fas fa-user-slash fa-fw text-danger mr-3"></i>Unfilter +{{ p.board.name }}</button>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

</div>

{% else %}

{% if request.path.endswith('/mod/queue') %}

<div class="row no-gutters">   
  <div class="col">      
    <div class="text-center py-7">
      <div class="h4 p-2">This queue is empty. (That's a good thing.)</div>
    </div>       
  </div>  
</div>


{% elif b %}
<div class="row no-gutters">   
  <div class="col">      
    <div class="text-center py-7">
      <div class="h4 p-2">+{{ b.name }} is barren and needs posts!</div>
      {% if g.user and b and b.can_submit(g.user) %}
      <div class="p-2"><a href="/submit?guild={{ b.name }}" class="btn btn-primary">Be the first to post</a></div>
      {% endif %}
    </div>       
  </div>  
</div>


{% elif u %}
  {% if g.user and g.user.id == u.id %}
  <div class="row no-gutters">   
    <div class="col">      
      <div class="text-center px-3 my-3">
        <span class="fa-stack fa-2x text-muted mb-4">
          <i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
          <i class="fas text-gray-500 fa-ghost fa-stack-1x text-lg"></i>
        </span>
        <h2 class="h5">You haven't posted yet</h2>
        <p class="text-muted mb-md-5">Your posting history will show here.</p>
        <a href="/submit" class="btn btn-primary">Create a post</a>
      </div>      
    </div>  
  </div>


  {% else %}
  <div class="row no-gutters">   
    <div class="col">      
      <div class="text-center px-3 my-3">
        <span class="fa-stack fa-2x text-muted mb-4">
          <i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
          <i class="fas text-gray-500 fa-scroll-old fa-stack-1x text-lg"></i>
        </span>
        <h2 class="h5">@{{ u.username }} hasn't posted yet</h2>
        <p class="text-muted">Their posting history will show here.</p>
      </div>      
    </div>  
  </div>
  {% endif %}

{% elif request.path.startswith('/notifications') %}

<!-- nothing -->

{% else %}
<div class="row no-gutters">   
  <div class="col">      
    <div class="text-center px-3 my-3">
      <span class="fa-stack fa-2x text-muted mb-4">
        <i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
        <i class="fas text-gray-500 fa-ghost fa-stack-1x text-lg"></i>
      </span>
      <h2 class="h5">There are no posts here.</h2>
      <p class="text-muted">But the magic gnomes tell us there will be (eventually).</p>
    </div>      
  </div>  
</div>


{% endif %}

{% endfor %}

{% include "delete_post_modal.html" %}
