{% extends "default.html" %}

{% set ups=p.upvotes_fuzzed %}
{% set downs=p.downvotes_fuzzed %}
{% set score=ups-downs %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-info">
  <div class="title"><i class="fas fa-info-circle mr-2"></i>Post Info</div>
  <div class="body">
    {% if p.board_id != p.original_board_id %}
    <div class="text-small mb-2">Originally posted in: <a href="{{ p.original_board.permalink }}">+{{ p.original_board.name }}</a></div>
    {% endif %}
    <div class="text-small mb-2">Shortlink: <input readonly="readonly" value="{{ p.shortlink }}" data-clipboard-text="{{ p.shortlink }}" role="button" class="copy-link form-control form-control-sm rounded"></div>
  </div>
</div>

{% set b=p.board %}
<div class="sidebar-section sidebar-guildmake">
  <div class="title"><i class="fas fa-info-circle mr-2"></i>About Guild</div>
  <div class="body">
    {{ b.description_html | safe }}

    <div class="text-small font-weight-bold text-muted text-uppercase mb-1">Founded</div>
    <p>{{ b.created_date }}</p>
    <div class="text-small font-weight-bold text-muted text-uppercase mb-2">Guildmasters</div>
    <div class="d-flex align-items-center">
      {% for mod in b.mods_list[0:3] %}
      <a href="{{ mod.user.permalink }}">
        <img src="{{ mod.user.profile_url }}" class="profile-pic profile-pic-30 profile-stacked {% if not loop.first %}ml-n2{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{{ '@' + mod.user.username }}">
      </a>
      {% if loop.last %}
      {% if b.mods_count - loop.index > 0 %}
      <div class="text-small text-primary ml-2">
        <a href="{{ b.permalink+'/mod/mods' }}">+{{ b.mods_count - loop.index }} more guildmaster{% if b.mods_count - loop.index > 1 %}s{% endif %}</a>
      </div>
      {% endif %}
      {% endif %}
      {% else %}
      <small class="text-muted">No guildmasters</small>
      {% endfor %}
    </div>

    <div class="text-small font-weight-bold text-muted text-uppercase mb-2 mt-3">Settings</div>
    <div class="text-primary">
      <i class="fas fa-filter"data-toggle="tooltip" data-placement="bottom" title="Category: {% if b.subcat %}{{ b.subcat.category.name }} / {{ b.subcat.name }}{% else %}Uncategorized{% endif %}"></i>
      {% if b.is_private %}<i class="fas fa-eye-slash"data-toggle="tooltip" data-placement="bottom" title="Private mode."></i>{% endif %}
      {% if b.restricted_posting %}<i class="fas fa-user-lock"data-toggle="tooltip" data-placement="bottom" title="Restricted posting mode."></i>{% endif %}
      {% if b.over_18 %}<i class="fas fa-eye-evil" data-toggle="tooltip" data-placement="bottom" title="NSFW"></i>{% endif %}
      {% if b.all_opt_out %}<i class="fad fa-list" data-toggle="tooltip" data-placement="bottom" title="Opted out of All/Trending"></i>{% endif %}        
    </div>

  </div>
</div>


{% if False %}
<div class="sidebar-section sidebar-chat">
  <a href="{{ b.chat_url }}" target="_blank"><div class="title"><i class="fas fa-comments-alt mr-2"></i>Guild Chat (<i class="far fa-user fa-sm mr-1"></i><span class="board-chat-count">{{ b.chat_count }}</span>)</div></a>
  <div class="body">
    {% include "chat/chat_client.html" %}
  </div>
</div>
{% endif %}
{% endblock %}

{% if g.user %}
{% set voted=p.voted %}
{% else %}
{% set voted=-2 %}
{% endif %}

{% block title %}

<meta charset="utf-8" />
<meta property="og:type" content="article" />

{% if comment_info %}
  {% if comment_info.is_banned %}
    <title>[removed comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}</title>
    <meta property="og:title" content="[removed comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta property="og:author" name="author" content="[removed comment]" />
    <meta property="og:article:author" content="[removed comment]" />
    <meta property="og:description" name="description" content="[removed comment]" />
    <meta name="twitter:creator" content="[removed comment]">
    <meta name="twitter:title" content="[removed comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />

  {% elif comment_info.deleted_utc %}
    <title>[deleted comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}</title>
    <meta property="og:title" content="[deleted comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta property="og:author" name="author" content="[deleted comment]" />
    <meta property="og:article:author" content="[deleted comment]" />
    <meta property="og:description" name="description" content="[deleted comment]" />
    <meta name="twitter:creator" content="[deleted comment]">
    <meta name="twitter:title" content="[deleted comment] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />

  {% elif comment_info.author.is_deleted %}
    <title>Comment by [deleted account] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}</title>
    <meta property="og:title" content="Comment by [deleted account] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta property="og:author" name="author" content="[deleted account]" />
    <meta property="og:article:author" content="[deleted account]" />
    <meta property="og:description" name="description" content="{{ comment_info.body }}" />
    <meta name="twitter:creator" content="[deleted account]">
    <meta name="twitter:title" content="Comment by [deleted account] in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta name="twitter:description" content="{{ comment_info.body }}" />

  {% else %}
    <title>Comment by @{{ comment_info.author.username }} in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}</title>
    <meta property="og:title" content="Comment by @{{ comment_info.author.username }} in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta property="og:author" name="author" content="@{{ comment_info.author.username }}" />
    <meta property="og:article:author" content="@{{ comment_info.author.username }}" />
    <meta property="og:description" name="description" content="{{ comment_info.body }}" />
    <meta name="twitter:creator" content="@{{ comment_info.author.username }}">
    <meta name="twitter:title" content="Comment by @{{ comment_info.author.username }} in +{{ p.board.name }} - {{ 'SITE_NAME' | app_config }}" />
    <meta name="twitter:description" content="{{ comment_info.body }}" />
  {% endif %}

  <meta property="article:section" content="+{{ p.board.name }}" />
  <meta property="article:published_time" content="{{ comment_info.created_datetime }}" />
  <meta property="og:url" content="{{ comment_info.permalink | full_link }}" />
  <meta property="og:site_name" content="{{ p.board.permalink | full_link }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ comment_info.permalink | full_link }}" />

  {% if comment_info.edited_utc %}
    <meta property="article:modified_time" content="{{ comment_info.edited_string }}" />
  {% endif %}

  {% if p.is_image and not p.is_banned and not p.is_deleted %}
    <meta property="og:image" content="{{ p.url }}" />
    <meta name="twitter:image" content="{{ p.url }}" />
    <meta name="thumbnail" content="{{ p.url }}" />
  {% elif p.has_thumb and not p.is_banned and not p.is_deleted %}
    <meta property="og:image" content="{{ p.thumb_url }}" />
    <meta name="twitter:image" content="{{ p.thumb_url }}" />
    <meta name="thumbnail" content="{{ p.thumb_url }}" />
  {% else %}
    <meta property="og:image" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
    <meta name="twitter:image" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
    <meta name="thumbnail" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
  {% endif %}

  {% if linked_comment.author.is_private %}
  <meta name="robots" content="noindex">
  {% endif %}

{% else %}
  <title>{{ p.title | safe}} - {{ "SITE_NAME" | app_config }}</title>


  <meta property="og:article:author" content="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]'}}" />
  <meta property="article:section" content="+{{ p.board.name }}" />
  <meta property="article:published_time" content="{{ p.created_iso }}" />
  {% if p.edited_utc %}<meta property="article:modified_time" content="{{ p.edited_string }}" />{% endif %}

  <meta property="og:description" name="description" content="{{ p.body }}" />
  <meta property="og:author" name="author" content="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]'}}" />
  <meta property="og:title" content="{{ p.title }} - {{ 'SITE_NAME' | app_config }}" />
  <meta property="og:url" content="{{ p.permalink | full_link}}" />
  <meta property="og:site_name" content="{{ 'SITE_NAME' | app_config }}" />

  <meta name="twitter:site" content="{{ 'SITE_NAME' | app_config }}">
  <meta name="twitter:title" content="{{ p.title }} - {{ 'SITE_NAME' | app_config }}" />
  <meta name="twitter:creator" content="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]'}}">
  <meta name="twitter:description" content="{{ p.body }}" />
  <meta name="twitter:url" content="{{ p.permalink | full_link}}" />

  {% if not p.is_banned and not p.is_deleted %}
  {% if p.is_image %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{{ p.url }}" />
    <meta name="twitter:image" content="{{ p.url }}" />
    <meta name="thumbnail" content="{{ p.url }}" />
  {% elif p.has_thumb %}
    <meta name="twitter:card" content="summary"/>
    <meta property="og:image" content="{{ p.thumb_url }}" />
    <meta name="twitter:image" content="{{ p.thumb_url }}" />
    <meta name="thumbnail" content="{{ p.thumb_url }}" />
  {% else %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
    <meta name="twitter:image" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
    <meta name="thumbnail" content="{{ 'IMG_URL_THUMBSPLASH' | app_config | full_link }}" />
  {% endif %}
  {% endif %}

  {% if p.author.is_private %}
  <meta name="robots" content="noindex">
  {% endif %}

{% endif %}
{% endblock %}

{% block pagetype %}thread{% endblock %}

{% block desktopBanner %}
<!-- Guild reference -->

<span id="guild-name-reference" class="d-none">{{ p.board.name }}</span>

<!-- Desktop -->
<div class="row border-bottom sticky guild-border-top d-none d-md-block bg-white overflow-visible">
  <div class="col">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center border-right py-2 pr-3">
        <div>
          <a href="{{ p.board.permalink }}"><img src="{{ p.board.profile_url }}" class="profile-pic-35 mr-2"></a>
        </div>
        <div>
          <a href="{{ p.board.permalink }}">
            <span class="h6 text-black mb-0">+{{ p.board.name }}
              {% if g.user and g.user.has_blocked_guild(p.board) %}
              <i class="fas fa-eye-slash text-danger align-middle ml-2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="You have hidden this guild from /all. Visit your settings or click the <i class='far fa-ellipsis-h text-small'></i> icon to adjust its visibility."></i>
              {% endif %}
            </span>
          </a>
        </div>
      </div>
      <div class="border-right py-3 px-3">
        <a href="{{ p.board.permalink }}/mod/mods" class="text-black">Guildmasters<span class="text-primary"> {{ p.board.mods_count }}</span></a>
      </div>
      <div class="border-right p-3">
        Member{{ 's' if p.board.stored_subscriber_count != 1 else '' }}<span class="text-primary"> {{ p.board.stored_subscriber_count }}</span>
      </div>
      <div class="d-flex align-items-center p-3">
        <div class="dropdown dropdown-actions">
          <a href="javascript:void(0)" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-ellipsis-h text-base text-black"></i>
          </a>
          <div class="dropdown-menu border-0 shadow dropdown-menu-right mt-2 navbar-dropdown" aria-labelledby="dropdownMoreLink" x-placement="bottom-end">
          <button class="dropdown-item" data-toggle="modal" data-target="#guildDetailsModal"><i class="fas fa-info-circle"></i>Guild details</button>
          <a class="dropdown-item" href="{{ b.permalink }}/mod/log"><i class="fas fa-scroll-old"></i>Moderation log</a>

          {% if p.is_guildmaster('config') %}
          <a class="dropdown-item" href="{{ p.board.permalink }}/mod/settings"><i class="fas fa-cog"></i>Guild settings</a>
          {% endif %}

          {% if g.user and not g.user.has_blocked_guild(p.board) %}
          <a class="dropdown-item text-danger btn-guild-block" data-board-name="{{ p.board.name }}"><i class="fas fa-eye-slash text-danger"></i>Hide from /all</a>
          {% elif g.user %}
          <a class="dropdown-item btn-guild-unblock"><i class="fas fa-eye"></i>Show in /all</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="ml-auto">
      {% if g.user %}
      <div id="button-sub-{{ p.board.fullname }}" class="{% if p.board.has_subscriber(v) %} d-none{% endif %}">
        <a class="btn btn-primary text-white btn-guild-sub" data-board-name="{{ p.board.name }}" data-thing-id="{{ p.board.fullname }}">Join guild</a>
      </div>
      <div id="button-unsub-{{ p.board.fullname }}" class="{% if not p.board.has_subscriber(v) %} d-none{% endif %}">
        <a class="btn btn-secondary btn-guild-unsub" data-board-name="{{ p.board.name }}" data-thing-id="{{ p.board.fullname }}">Leave</a>
      </div>
      {% elif not v %}
      <a class="btn btn-primary" href="/signup?redirect={{ request.path | urlencode}}">Join guild</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block mobileBanner %}
<!-- Mobile -->

<div class="container-fluid text-center bg-white d-md-none">
  <div class="row">
    <div class="col px-0">
      <img src="{{ p.board.banner_url }}" class="jumbotron-mobile">
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <div class="img-mobile-profile-div">
        <a href="{{ p.board.permalink }}"><img src="{{ p.board.profile_url }}" class="profile-pic-65 border-2 border-white mb-2"></a>
      </div>
      <div class="mt-n3 py-3">
        <a href="{{ p.board.permalink }}" class="text-black">
          <h1 class="h5 d-inline-block">+{{ b.name }}
            {% if p.board.over_18 %}
            <span class="badge badge-danger text-small align-top">nsfw</span>
            {% endif %}
            {% if p.board.is_nsfl %}
            <span class="badge badge-black text-small align-top">nsfl</span>
            {% endif %}
            {% if p.board.is_private %}
            <span class="badge badge-warning text-small align-top" data-toggle="tooltip" data-placement="bottom" title="This guild is private. Content posted prior to the guild being set to private is visible to everyone.">private</span>
            {% endif %}
          </h1>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block adminpanel %}
{% if g.user.admin_level >=3 %}
<form action="/api/sticky/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ g.user.formkey }}">
  <input type="submit" class="form-control" value="{% if p.stickied %}Un-sticky{% else %}Sticky{% endif %}">
</form>
{% endif %}
{% if g.user.admin_level >=3 and g.user.id==p.author_id %}
<form action="/api/distinguish/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ g.user.formkey }}">
  <input type="submit" class="form-control" value="{% if p.distinguish_level %}Un-distinguish{% else %}Distinguish{% endif %}">
</form>
{% endif %}
{% if g.user.admin_level >=1 and g.user.admin_level > p.author.admin_level %}
{% if p.is_banned %}
<form action="/api/unban_post/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ g.user.formkey }}">
  <input type="submit" class="form-control" value="Approve Post">
</form>
{% else %}
<form action="/api/ban_post/{{ p.base36id }}", method="post">
  <input type="hidden" name="formkey", value="{{ g.user.formkey }}">
  <input id="post-ban-reason" type="text" class="form-control" name="reason" placeholder="Removal Reason">
  <input type="submit" class="btn btn-warning" value="Remove Post">
</form>
{% endif %}
{% endif %}
{% if p.deleted_utc > 0 or p.author.is_deleted and g.user.admin_level >=4 %}
<p>Author: <a href="{{ p.author.permalink }}">@{{ p.author.username }}</a></p>
{% endif %}
{% endblock %}

{% block actionsModal %}
<!-- Post Actions Modal -->
<div class="modal fade modal-sm-bottom d-md-none" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="col modal-title text-center h6">More options</h5>
        <button type="button" class="close position-absolute py-3 ml-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle text-gray-500"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group post-actions">
          {% if g.user and not g.user.id==p.author_id and not p.author.is_deleted %}
          <button class="btn btn-link btn-block btn-lg text-left text-warning btn-tip-modal-trigger" data-dismiss="modal" data-toggle="modal" data-target="#tipModal" data-target-id="{{ p.base36id }}" data-target-kind="post" data-target-author="{{ p.author.username }}" data-target-author-profile-url="{{ p.author.profile_url }}" data-tip-url="/gift_post/{{ p.base36id }}?coins=1"><i class="far fa-star text-center text-warning mr-3"></i>Tip</button>
          <button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" data-target-id="{{ p.base36id}}" data-target-author="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]' }}" data-target-board="{{ p.board.name }}" data-report-url="/api/flag/post/{{ p.base36id }}" class="d-block btn-report-post"><i class="far fa-flag text-center text-muted mr-3"></i>Flag</button>
          {% endif %}
          {% if g.user and g.user.id==p.author_id %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted btn-edit-post" data-dismiss="modal" data-target-id="{{ p.base36id }}"><i class="far fa-edit text-center text-muted mr-3"></i>Edit</button>

          <button class="btn btn-link btn-block btn-lg text-left text-muted btn-delete-post" data-toggle="modal" data-dismiss="modal" data-target="#deletePostModal" data-post-id="{{ p.base36id }}"><i class="far fa-trash-alt text-center text-muted mr-3"></i>Delete</button>
          {% endif %}

          {% if g.user and (g.user.id==p.author_id or g.user.admin_level>=3 or p.is_guildmaster('content')) %}
          {% if not p.board.over_18 %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted post-url-reload" data-post-url="/api/toggle_post_nsfw/{{ p.base36id }}"><i class="far fa-eye-evil text-center text-muted mr-3"></i>Toggle NSFW</button>
          {% endif %}

          {% if not p.board.is_nsfl %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted post-url-reload" data-post-url="/api/toggle_post_nsfl/{{ p.base36id }}"><i class="far fa-skull text-center text-muted mr-3"></i>Toggle NSFL</button>
          {% endif %}

          {% endif %}
          {% if g.user and g.user.mods_anything and p.board.name == 'general' %}
          <button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#yankPostModal" class="d-block btn-yank-post" data-post-author="{{ p.author.username }}" data-post-id="{{ p.base36id }}" data-comment-count="{{ p.comment_count }}" data-title="{{ p.title }}" data-author-link="{{ p.author.permalink }}" data-domain="{{ p.domain }}" data-timestamp="{{ p.age_string }}"><i class="far fa-hand-lizard text-center text-muted mr-3"></i>Yank</button>
          {% endif %}
          {% if g.user %}
            {% if g.user.id==p.author_id and p.board_id not in [1, p.original_board_id] %}
            <button class="btn btn-link btn-block btn-lg text-danger text-left post-url-reload" data-post-url="/user/kick/{{ p.base36id }}"><i class="far fa-chess-rook text-center text-muted mr-3"></i>Remove from +{{ p.board.name }}</button>
            {% endif %}

            {% if p.url and p.has_thumb==False and (g.user.id==p.author_id or g.user.admin_level>=3) %}
            <button class="btn btn-link btn-block btn-lg text-danger text-left post-toast-url-reload" data-post-url="/retry_thumb/{{ p.base36id }}"><i class="far fa-image text-center text-muted mr-3"></i>Retry Thumbnail</button>
            {% endif %}

            {% if g.user and not g.user.is_suspended %}
            <button class="btn btn-link btn-block btn-lg text-left"><a class="text-muted" href="/submit?url={{ p.permalink | full_link | urlencode }}"><i class="far fa-retweet text-center text-muted mr-3"></i>Resubmit</a></button>
              {% endif %}

            {% if p.is_guildmaster('content') %}

              {% if g.user.id == p.author_id %}
              <button class="btn btn-link btn-block btn-lg text-left text-warning post-url-reload" data-post-url="/mod/distinguish_post/{{ p.board.name }}/{{ p.base36id }}"><i class="far fa-crown text-center text-warning mr-3"></i>Herald</button>
              {% endif %}

              {% if p.is_pinned %}
              <button class="btn btn-link btn-block btn-lg text-info text-left post-url-reload" id="pin-post-{{ p.base36id }}" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/0"><i class="far fa-thumbtack fa-fw fa-rotate--45 text-center text-info mr-3"></i>Unpin</button>
              {% elif p.board.can_pin_another %}
              <button class="btn btn-link btn-block btn-lg text-info text-left post-url-reload" id="pin-post-{{ p.base36id }}" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/1"><i class="far fa-thumbtack fa-fw fa-rotate--45 text-center text-info mr-3"></i>Pin</button>
              {% endif %}

              <button class="btn btn-link btn-block btn-lg text-danger text-left post-url-reload" id="kick-post-{{ p.base36id }}" data-post-url="/mod/kick/{{ p.board.name }}/{{ p.base36id }}"><i class="far fa-sign-out fa-flip-horizontal text-center text-danger mr-3"></i>Kick</button>
            {% endif %}

            {% if g.user.admin_level >=3 %}
              {% if p.is_banned %}
              <button class="btn btn-link btn-block btn-lg text-success text-left admin-approve-post" id="moderate-post-{{ p.base36id }}" data-post-id="{{ p.base36id }}"><i class="far fa-check text-center text-success mr-3"></i>Approve</button>
              {% else %}
              <button class="btn btn-link btn-block btn-lg text-danger text-left admin-remove-post" id="moderate-post-{{ p.base36id }}" data-post-id="{{ p.base36id }}"><i class="far fa-ban text-center text-danger mr-3"></i>Remove</button>
              {% endif %}
            {% endif %}

            {% if g.user.admin_level >=4 and p.oauth_app %}
              <button class="btn btn-link btn-block btn-lg text-muted text-left"  href="{{ p.oauth_app.permalink }}"><a href="{{ p.oauth_app.permalink }}"><i class="far fa-code text-center text-muted mr-3"></i>API App</a></button>
            {% endif %}

          {% endif %}

          {% if g.user and not g.user.id==p.author_id and  p.deleted_utc == 0 and not p.author.is_deleted %}
            <button id="block-user-button-{{ p.base36id }}" class="btn btn-link btn-block btn-lg text-left text-danger btn-block-user{% if p.is_blocking %} d-none{% endif %}" data-dismiss="modal" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash text-danger mr-3"></i>Block @{{ p.author.username }}</button>
            <button id="unblock-user-button-{{ p.base36id }}" class="btn btn-link btn-block btn-lg text-left text-danger btn-unblock-user{% if not p.is_blocking %} d-none{% endif %}" data-dismiss="modal" data-target-user="{{ p.author.username }}" data-post-id="{{ p.base36id }}"><i class="fas fa-user-slash text-danger mr-3"></i>Unblock @{{ p.author.username }}</button>
            {% if p.is_guildmaster('access') and not p.author.is_deleted %}
              <button id="exile-user-button-{{ p.base36id }}" class="btn btn-link btn-block btn-lg text-left text-danger post-toast-url" data-post-url="/mod/exile/{{ p.board.name }}?username={{ p.author.username }}&toast=1&thing={{ p.fullname }}"><i class="fas fa-user-minus mr-3 text-danger"></i>Exile @{{ p.author.username }}</a></button>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Left Sidebar (navigation-purposes, hidden on devices smaller than "large") -->

{% block leftSidebarBlock %}
{% include "sidebar-left.html" %}
{% endblock %}

{% block content %}
<div class="row mb-3">

  <div class="col-12">

    <div id="post-{{ p.base36id }}" class="card border-0 mt-3 bg-white{% if p.is_banned %} banned{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
      <div class="d-flex flex-row-reverse flex-nowrap justify-content-end">

        {% if p.thumb_url and not p.embed_url and not p.is_crosspost %}
        <div class="card-header bg-transparent border-0 d-none d-md-flex flex-row flex-nowrap pl-3 p-0">
          {% if p.is_image %}
          <a href="javascript:void(0)" target="_blank" rel="nofollow" data-toggle="modal" data-target="#expandImageModal" class="expandable-image" data-url="{{ p.url }}"><img src="{{ p.thumb_url }}" class="post-img d-none d-md-block" alt="Unable to load image"></a>
          {% else %}
          <a target="_blank" rel="nofollow" href="{{ p.url }}"><img src="{{ p.thumb_url }}" class="post-img d-none d-md-block" alt="Unable to load image"></a>
          {% endif %}

        </div>
        {% endif %}

        <div class="card-block w-100 my-md-auto">

          <div class="post-meta text-left d-none d-md-block mb-md-2 {% if p.author.id%2 %}author-id-odd{% else %}author-id-even{% endif %}">
            {% if ('EVENT_SNOWBALL_FIGHT'|app_config) %}{% include "tags/holiday_faction.html" %} · {% endif %}
            {% if p.stickied %}{% include "tags/sticky.html" %} · {% endif %}
            {% if p.is_pinned %}{% include "tags/pin.html" %} · {% endif %}
            {% if p.is_archived %}{% include "tags/archive.html" %} · {% endif %}
            <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_datetime }}">{{ p.age_string }}</span> by {% if p.author.is_deleted %}[deleted account]{% elif g.is_archive and p.author.is_private %}[username not archived due to privacy settings]{% else %}<a href="{{ p.author.permalink }}" class="user-name"><img src="{{ p.author.profile_url }}" class="profile-pic-20 mr-1"/><span class="user-name-inner">{{ p.author.username }}</span></a>{% if p.author.title %}{{ p.author.title.rendered | safe }}{% endif %}{% endif %}
            {% if p.is_exiled_for %}{% include "tags/exile.html" %}{% endif %}
            {% if p.is_bot %}{% include "tags/bot.html" %}{% endif %}
            {% if p.is_blocking %}{% include "tags/blocking.html" %}{% endif %}
            {% if p.is_blocked %}{% include "tags/blocked.html" %}{% endif %}
            {% if p.distinguish_level %}{% include "tags/admin.html" %}{% endif %}
            {% if p.gm_distinguish %}{% include "tags/herald.html" %}{% endif %}
            {% if p.award_count %} · <span><img src="/assets/images/icons/ruqqus-coin.png" class="coin-ruqqus"><span class="pl-1 text-warning font-weight-bold">{{ p.award_count }}</span></span>{% endif %} · ({% if p.url %}<a href="/search?q=domain%3A{{ p.domain }}&sort=new&t=all" target="_blank">{{ p.domain }}</a>{% else %}text post{% endif %}){% if not p.is_public %} · <i class="fas fa-eye-slash text-warning" data-toggle="tooltip" data-placement="bottom" title="Private post, visible because {{ p.visibility_reason(v) }}"></i>{% endif %}{% if p.edited_utc %} · Edited <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ edited_datetime }}">{{ p.edited_string }}</span>{% endif %}
            {% if p.over_18 %} · {% include "tags/nsfw.html" %}{% endif %}
            {% if p.is_nsfl %} · {% include "tags/nsfl.html" %}{% endif %}
            {% if p.is_repost %} · {% include "tags/repost.html" %}{% endif %}
          </div>

          {% if p.url %}
          <h1 class="card-title post-title text-left mb-md-2 pb-md-1"><a target="_blank" href="{{ p.url }}" rel="nofollow noopener">{{ p.title | safe }}</a></h1>
          {% else %}
          <h1 class="card-title post-title text-left mb-md-2 pb-md-1">{{ p.title | safe }}</h1>
          {% endif %}

          <div class="post-meta text-left d-block d-md-none mb-3 {% if p.author.id%2 %}author-id-odd{% else %}author-id-even{% endif %}">
            {% if ('EVENT_SNOWBALL_FIGHT'|app_config) %}{% include "tags/holiday_faction.html" %} · {% endif %}
            {% if p.stickied %}{% include "tags/sticky.html" %} · {% endif %}
            {% if p.is_pinned %}{% include "tags/pin.html" %} · {% endif %}
            {% if p.is_archived %}{% include "tags/archive.html" %} · {% endif %}
            {% if p.over_18 %}{% include "tags/nsfw.html" %} · {% endif %}
            {% if p.is_nsfl %}{% include "tags/nsfl.html" %} · {% endif %}
            {% if p.is_repost %}{% include "tags/repost.html" %} · {% endif %}
            <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_datetime }}">{{ p.age_string }}</span> by {% if p.author.is_deleted %}[deleted account]{% elif g.is_archive and p.author.is_private %}[username not archived due to privacy settings]{% else %}<a href="{{ p.author.permalink }}" class="user-name"><img src="{{ p.author.profile_url }}" class="profile-pic-25 mr-1"/><span class="user-name-inner">{{ p.author.username }}</span></a>{% if p.author.title %}{{ p.author.title.rendered | safe }}{% endif %}{% endif %}
            {% if p.is_exiled_for %}{% include "tags/exile.html" %}{% endif %}
            {% if p.is_bot %}{% include "tags/blocking.html" %}{% endif %}
            {% if p.is_blocking %}{% include "tags/blocking.html" %}{% endif %}
            {% if p.is_blocked %}{% include "tags/blocked.html" %}{% endif %}
            {% if p.distinguish_level %}{% include "tags/admin.html" %}{% endif %}
            {% if p.gm_distinguish %}{% include "tags/herald.html" %}{% endif %}
            {% if p.award_count %} · <span><img src="/assets/images/icons/ruqqus-coin.png" class="coin-ruqqus"><span class="pl-1 text-warning font-weight-bold">{{ p.award_count }}</span></span>{% endif %}
            {% if not p.is_public %} · <i class="fas fa-eye-slash text-warning" data-toggle="tooltip" data-placement="bottom" title="Private post, visible because {{ p.visibility_reason(v) }}"></i>{% endif %}
            {% if p.edited_utc %} · Edited <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ edited_datetime }}">{{ p.edited_string }}</span>{% endif %}
          </div>

          <div id="post-body" class="post-body mt-3">

            {% if p.url and not p.embed_url and not p.is_image and not p.is_crosspost %}
            <a href="{{ p.url }}" target="_blank">
              <div class="d-flex d-md-none justify-content-between align-items-center border rounded p-2{% if p.body_html %} mb-3{% endif %}">
                <span>{{ p.domain|truncate(30, True) }}</span>
                <i class="fas fa-external-link-alt text-small"></i>
              </div>
            </a>
            {% endif %}

            {{ p.body_html | safe }}

          </div>



          {% if g.user and g.user.id==p.author_id and not g.user.is_banned %}
          <div id="edit-post-body-{{ p.base36id }}" class="d-none comment-write collapsed child">
            <form id="post-edit-form-{{ p.base36id }}" action="/edit_post/{{ p.base36id }}" method="post" class="input-group">
              <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
              <input type="hidden" name="current_page" value="{{ request.path }}">
              <textarea name="body" id="post-edit-box-{{ p.base36id }}" form="post-edit-form-{{ p.base36id }}" class="comment-box form-control rounded" onkeydown="textAreaOnKeyDown(event, ()=>{document.getElementById('post-edit-form-{{ p.base36id }}').submit()})" aria-label="With textarea" placeholder="Add text to your post..." rows="3">{{ p.body }}</textarea> 
              <div class="comment-format"> 
                <small class="format pl-0">
                  <i class="fas fa-bold btn-make-bold" aria-hidden="true" data-form-id="post-edit-box-{{ p.base36id }}" data-toggle="tooltip" data-placement="bottom" title="Bold"></i>
                </small> 
                <small class="format">
                  <i class="fas fa-italic btn-make-italic" aria-hidden="true" data-form-id="post-edit-box-{{ p.base36id }}" data-toggle="tooltip" data-placement="bottom" title="Italicize"></i>
                </small> 
                <small class="format">
                  <i class="fas fa-quote-right btn-make-quote" aria-hidden="true" data-form-id="post-edit-box-{{ p.base36id }}" data-toggle="tooltip" data-placement="bottom" title="Quote"></i>
                </small>

                {% if ( 'FEATURE_ENABLE_GIFS' | app_config ) %}
                <small class="format">
                  <span class="font-weight-bolder text-uppercase btn-open-inserters" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Add GIF">GIF</span>
                </small> 
                {% endif %}
                {% if 'FEATURE_ENABLE_EMOJI' | app_config %}
                <small class="format">
                  <i class="fas fa-smile-beam btn-open-inserters" aria-hidden="true" data-toggle="modal" data-target="#emojiModal" data-toggle="tooltip" data-placement="bottom"  title="Add EMOJI"></i>
                </small>
                {% endif %}

                <small class="format d-none">
                  <i class="fas fa-link" aria-hidden="true"></i>
                </small> 
                <a href="javascript:void(0)" data-target-id="{{ p.base36id }}" class="btn btn-link text-muted ml-auto cancel-form btn-edit-post">Cancel</a> 
                <button form="post-edit-form-{{ p.base36id }}" class="btn btn-primary ml-2">Save Edit</button>
              </div>
            </form>
          </div>
          {% endif %}

          </div>

          <!-- Voting on "medium" devices or larger, hidden on smaller devices -->

          {% if g.user %}

          <div id="voting" class="voting d-none d-md-block mb-auto">
            <div id="post-{{ p.base36id }}-up" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="mx-auto arrow-up upvote-button post-{{ p.base36id }}-up {% if voted==1 %}active{% endif %}"></div>

            <span id="post-score-{{ p.base36id }}" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}" data-toggle="tooltip" data-placement="right" data-original-title="+{{ ups }} | -{{ downs }}">{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

            <div id="post-{{ p.base36id }}-down" tabindex="0" data-id-down="{{ p.base36id }}" data-content-type="post" class="text-muted mx-auto arrow-down downvote-button post-{{ p.base36id }}-down {% if voted==-1 %}active{% endif %}"></div>
          </div>

          {% else %}

          <div id="voting" class="voting d-none d-md-block mb-auto">
            <div id="post-{{ p.base36id }}-up" tabindex="0" class="arrow-up mx-auto go-to-login">
            </div>
            <span id="post-{{ p.base36id }}-score-none" class="score text-muted"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ ups }} | -{{ downs }}"{% endif %}>{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>
            <div id="post-{{ p.base36id }}-down" tabindex="0" class="arrow-down mx-auto go-to-login">
            </div>
          </div>

          {% endif %}

        </div>

        {% if p.embed_url and p.domain_obj and p.domain_obj.embed_template %}
          {% include p.embed_template %}
        {% endif %}

        <div class="d-none d-md-flex justify-content-between align-items-center mt-2">
          <div class="post-actions mt-2">
            <ul class="list-inline text-right d-flex">

              <li class="list-inline-item"><a href="{{ p.permalink }}"><i class="fas fa-comment-dots"></i>{{ p.comment_count }}</a></li>

              <li class="list-inline-item"><a href="javascript:void(0)" role="button" class="copy-link" data-clipboard-text="{{ p.permalink | full_link }}"><i class="fas fa-copy"></i><span class="d-none d-lg-inline">Copy link</span></a></li>

              {% if g.user and not g.user.id==p.author_id %}
              <li class="list-inline-item"><a class="btn-tip-modal-trigger" data-target-id="{{ p.base36id }}" data-target-kind="post" data-target-author="{{ p.author.username }}" data-target-author-profile-url="{{ p.author.profile_url }}" data-tip-url="/gift_post/{{ p.base36id }}?coins=1"data-toggle="modal" data-target="#tipModal"><i class="fas fa-star"></i><span class="d-none d-lg-inline">Tip</span></a></li>

              <li class="list-inline-item"><a class="btn-report-post" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" data-target-id="{{ p.base36id}}" data-target-author="{{ '@'+p.author.username if not p.author.is_deleted else '[deleted account]' }}" data-target-board="{{ p.board.name }}" data-report-url="/api/flag/post/{{ p.base36id }}"><i class="fas fa-flag"></i><span class="d-none d-lg-inline">Flag</span></a></li>
              {% endif %}

              {% if g.user and g.user.id==p.author_id %}
              <li class="list-inline-item"><a href="javascript:void(0)" data-target-id="{{ p.base36id }}" class="btn-edit-post"><i class="fas fa-edit"></i><span class="d-none d-lg-inline">Edit</span></a></li>

              <li class="list-inline-item"><a href="javascript:void(0)" class="btn-delete-post" data-toggle="modal" data-dismiss="modal" data-target="#deletePostModal" data-post-id="{{ p.base36id }}"><i class="fas fa-trash-alt"></i><span class="d-none d-lg-inline">Delete</span></a></li>
              {% endif %}

              {% if g.user and (g.user.id==p.author_id or g.user.admin_level>=3 or p.is_guildmaster('content')) %}

              {% if not p.board.over_18 %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="post-url-reload" data-post-url="/api/toggle_post_nsfw/{{ p.base36id }}"><i class="fas fa-eye-evil"></i><span class="d-none d-lg-inline">Toggle NSFW</span></a></li>
              {% endif %}

              {% if not p.board.is_nsfl %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="post-url-reload" data-post-url="/api/toggle_post_nsfl/{{ p.base36id }}"><i class="fas fa-skull"></i><span class="d-none d-lg-inline">Toggle NSFL</span></a></li>
              {% endif %}

              {% endif %}

              {% if g.user %}

              {% if g.user.mods_anything and p.board_id == 1 %}
              <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#yankPostModal" class="d-block btn-yank-post" data-post-author="{{ p.author.username }}" data-post-id="{{ p.base36id }}" data-comment-count="{{ p.comment_count }}" data-title="{{ p.title }}" data-author-link="{{ p.author.permalink }}" data-domain="{{ p.domain }}" data-timestamp="{{ p.age_string }}"><i class="fas fa-hand-lizard"></i><span class="d-none d-lg-inline">Yank</span></a></li>
              {% endif %}
              {% if g.user.id==p.author_id and p.board_id not in [1, p.original_board_id] %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="post-url-reload" data-post-url="/user/kick/{{ p.base36id }}"><i class="fas fa-chess-rook"></i><span class="d-none d-lg-inline">Remove from +{{ p.board.name }}</span></a></li>
              {% endif %}
              {% if p.url and p.has_thumb==False and (g.user.id==p.author_id or g.user.admin_level>=3) %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="post-url-reload" data-post-url="/retry_thumb/{{ p.base36id }}"><i class="fas fa-image"></i><span class="d-none d-lg-inline">Retry Thumb</span></a></li>

              {% endif %}

              {% if p.is_guildmaster('content') %}

              {% if p.is_pinned %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="text-info post-url-reload" id="pin-post-{{ p.base36id }}" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/0"><i class="fas fa-thumbtack fa-fw text-info fa-rotate--45"></i><span class="d-none d-lg-inline">Unpin</span></a></li>
              {% elif p.board.can_pin_another %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="text-info post-url-reload" id="pin-post-{{ p.base36id }}" data-post-url="/mod/post_pin/{{ p.board.name }}/{{ p.base36id }}/1"><i class="fas fa-thumbtack fa-fw text-info fa-rotate--45"></i><span class="d-none d-lg-inline">Pin</span></a></li>
              {% endif %}

              {% if g.user.id == p.author_id %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="text-warning post-url-reload" data-post-url="/mod/distinguish_post/{{ p.board.name }}/{{ p.base36id }}"><i class="fas fa-crown text-warning"></i><span class="d-none d-lg-inline">Herald</span></a></li>
              {% endif %}

              <li class="list-inline-item"><a href="javascript:void(0)" class="text-danger post-url-reload" data-post-url="/mod/kick/{{ p.board.name }}/{{ p.base36id }}"><i class="fas fa-sign-out fa-flip-horizontal text-danger"></i><span class="d-none d-lg-inline">Kick</span></a></li>
              {% endif %}

              {% if g.user.admin_level >=3 %}
              {% if p.is_banned or p.active_flags %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="text-success admin-approve-post" id="moderate-post-{{ p.base36id }}" data-post-id="{{ p.base36id }}"><i class="fas fa-check text-success"></i><span class="d-none d-lg-inline">Approve</span></a></li>
              {% endif %}
              {% if not p.is_banned or p.active_flags %}
              <li class="list-inline-item"><a href="javascript:void(0)" class="text-danger admin-remove-post" id="moderate-post-{{ p.base36id }}" data-post-id="{{ p.base36id }}"><i class="fas fa-ban"></i><span class="d-none d-lg-inline">Remove</span></a></li>
              {% endif %}
              {% endif %}

              {% if g.user.admin_level >= 4 and p.oauth_app %}
              <li class="list-inline-item"><a href="{{ p.oauth_app.permalink }}" ><i class="fas fa-code"></i><span class="d-none d-lg-inline">API App</span></a></li>
              {% endif %}
              {% endif %}

              {% if g.user and not g.user.is_suspended %}<li class="list-inline-item"><a href="/submit?url={{ p.permalink | full_link | urlencode }}"><i class="fas fa-retweet"></i><span class="d-none d-lg-inline">Resubmit</span></a></li>{% endif %}

              <li class="list-inline-item d-none d-md-inline-block">
                <div class="dropdown show">
                  <a href="javascript:void(0)" role="button" id="dropdownMoreLink-{{ p.base36id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h text-small mr-0"></i>
                  </a>
                  <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMoreLink-{{ p.base36id }}">

                    {% if g.user and g.user.id!=p.author_id and not p.author.is_deleted %}
                    <a id="block-user-{{ p.base36id }}" class="dropdown-item text-danger btn-block-user{% if p.is_blocking %} d-none{% endif %}"><i class="fas fa-user-slash text-danger"></i>Block user</a>
                    <a id="unblock-user-{{ p.base36id }}" class="dropdown-item text-danger btn-unblock-user{% if not p.is_blocking %} d-none{% endif %}"><i class="fas fa-user-slash text-danger"></i>Unblock user</a>
                    {% endif %}

                    {% if p.is_guildmaster('access') and p.deleted_utc == 0 and not p.author.is_deleted and g.user.id != p.author_id%}
                    <a id="exile2-user-{{ p.base36id }}" class="dropdown-item text-danger post-toast-url" href="javascript:void(0)" data-post-url="/mod/exile/{{ p.board.name }}?username={{ p.author.username }}&toast=1&thing={{ p.fullname }}"><i class="fas fa-user-slash text-danger"></i>Exile @{{ p.author.username }}</a>
                    {% endif %}

                    {% if g.user and g.user.admin_level >= 4 and p.oauth_app %}
                    <a id="embed-content-{{ p.fullname }}" href="{{ p.oauth_app.permalink }}" target="_blank" class="dropdown-item"><i class="fas fa-code"></i>API Client</a>
                    {% endif %}

                    <a id="embed-content-{{ p.fullname }}" href="javascript:void(0)" class="dropdown-item copy-outside-embed" data-thing-fullname="{{ p.fullname }}"><i class="fas fa-code"></i>Embed this</a>
                  </div>
                </div>
              </li>

            </ul>
          </div>

        </div>


      </div>

    </div>

    <div class="row no-gutters d-block d-md-none">
      <div class="col">
       <a target="_blank" rel="noopener noreferrer" href="{{ p.url }}">{% if p.is_image and p.domain_obj and p.domain_obj.show_thumbnail %}<img src="{{ p.url }}" class="img-fluid" alt="Unable to anonymously load image">
         <div class="post-img-overlay d-block d-md-none">{{ p.domain }}<i class="fas fa-external-link-alt text-small ml-2"></i></div>
         {% endif %}
       </a>
     </div>
   </div>

 </div>

 <div class="row mb-3 d-block d-md-none">
  <div class="col-12">

    <div class="post-actions">
      <ul class="list-inline text-right d-flex">

        <li class="list-inline-item mr-auto"><a href="{{ p.permalink }}"><i class="fas fa-comment-dots"></i>{{ p.comment_count }}</a></li>

        <li class="list-inline-item"><a href="javascript:void(0)" role="button" class="copy-link" data-clipboard-text="{{ p.permalink | full_link }}"><i class="fas fa-link"></i>Share</a></li>
        {% if g.user %}
        <li class="list-inline-item">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#actionsModal">
            <i class="fas fa-ellipsis-h"></i>
          </a>
        </li>
        {% endif %}
        <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
          {% if g.user %}
          <span id="post-{{ p.base36id }}-up-mobile" tabindex="0" data-id="{{ p.base36id }}" data-type="post" class="mr-2 arrow-up upvote-button post-{{ p.base36id }}-up {% if voted==1 %}active{% endif %}">
          </span>
          {% else %}
          <span id="arrow-{{ p.base36id }}-mobile-up" tabindex="0" class="mr-2 arrow-mobile-up go-to-login">
            <i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
          </span>
          {% endif %}

          <span id="post-score-{{ p.base36id }}" class="score post-score-{{ p.base36id }} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="+{{ ups }} | -{{ downs }}">{% if p.is_banned %}✖{% else %}{{ score }}{% endif %}</span>

          {% if g.user %}
          <span id="post-{{ p.base36id }}-down-mobile" tabindex="0" data-id-down="{{ p.base36id }}" data-content-type="post" class="ml-2 my-0 arrow-down downvote-button post-{{ p.base36id }}-down {% if voted==-1 %}active{% endif %}">
          </span>
          {% else %}
          <span id="arrow-{{ p.base36id }}-mobile-down" tabindex="0" class="arrow-mobile-down ml-2 my-0 go-to-login">
            <i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
          </span>
          {% endif %}
        </li>
      </ul>
    </div>

  </div>

</div>
<div class="row border-md-0 comment-section pb-3">
  <div class="col border-top">
    <div class="comments-count py-3">
      {% if linked_comment and p.comment_count >= 2%}
      <div class="total"><a href="{{ p.permalink }}">View entire discussion</a></div>
      {% else %}
      <div class="total">Comments <span class="d-none d-md-inline-block">({{ p.comment_count }})</span></div>
      {% endif %}
      <div class="post-filter ml-auto"><span>Sort By:</span>
        <span class="dropdown">
          <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <span class="dropdown-menu border-0 shadow dropdown-menu-right mt-2" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="?sort=new">New</a>
          <a class="dropdown-item" href="?sort=old">Old</a>
          <a class="dropdown-item" href="?sort=top">Top</a>
          <a class="dropdown-item" href="?sort=disputed">Disputed</a>
          <a class="dropdown-item d-none" href="javascript:void(0)">Based</a>
        </span>
      </span>
    </div>
  </div>

  {% if not p.is_banned and is_allowed_to_comment and ((not p.is_blocking and not p.is_blocked) or g.user.admin_level>=3) %}
  <div id="comment-form-space-{{ p.fullname }}" class="comment-write mb-3">
    <form id="reply-to-{{ p.fullname }}" class="input-group" action="/api/comment" method="post">
      <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
      <input type="hidden" name="parent_fullname" value="t2_{{ p.base36id }}">
      <input id="reply-form-submission-{{ p.fullname }}" type="hidden" name="submission" value="{{ p.base36id }}">
      {% if g.user %}
      <textarea id="reply-form-body-{{ p.fullname }}" class="comment-box form-control rounded" id="comment-form" name="body" form="reply-to-{{ p.fullname }}" aria-label="With textarea" placeholder="Add your comment..." rows="1"></textarea>
      {% endif %}
      <div class="comment-format">
        <small class="format pl-0"><i class="fas fa-bold btn-make-bold" data-form-id="reply-form-body-{{ p.fullname }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Bold"></i></small>
        <small class="format"><i class="fas fa-italic data-make-italic" data-form-id="reply-form-body-{{ p.fullname }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Italicize"></i></small>
        <small class="format"><i class="fas fa-quote-right data-make-quote" data-form-id="reply-form-body-{{ p.fullname }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Quote"></i></small>

          {% if 'FEATURE_ENABLE_GIFS' | app_config %}
          <label class="btn btn-secondary format d-inline-block m-0 mr-1" for="gif-reply-btn-{{ p.fullname }}">
            <span id="gif-reply-btn-{{ p.fullname }}" class="font-weight-bolder text-uppercase btn-open-inserters" data-form-id="reply-form-body-{{ p.fullname }}" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom" title="Add GIF">GIF</span>
          </label> 
          {% endif %}
          {% if 'FEATURE_ENABLE_EMOJI' %}
          <label class="btn btn-secondary format d-inline-block m-0 mr-1" for="emoji-reply-btn-{{p.fullname}}">
            <div id="emoji-reply-btn-{{p.fullname}}" class="btn-open-inserters" aria-hidden="true" data-toggle="modal" data-target="#emojiModal" data-toggle="tooltip" data-placement="bottom" title="Add EMOJI"><i class="fas fa-smile-beam"></i></div>
          </label> 
          {% endif %}


          {% if g.user.admin_level and ( "GROWTH_HACK" | app_config ) %}
          <!--admin growth hack-->
          <select class="form-control" name="ident">
            <option value="" selected>Select Alt (optional)</option>
            {% for user in g.user.alts %}
            <option value="{{ user.username }}">@{{ user.username }}</option>
            {% endfor %}
          </select>
          {% endif %}

          <label class="format btn btn-secondary m-0 mr-1 {% if g.user.has_premium %}d-inline-block{% else %}d-none{% endif %}" for="file-upload-reply-{{ p.fullname }}">
                <div><i class="far fa-image"></i><span id="filename-show-reply-{{ p.base36id }}"></span></div>
                <input id="file-upload-reply-{{ p.fullname }}" type="file" name="file" accept="image/*" class="btn-file-input" hidden>
          </label>
        <a id="save-reply-to-{{ p.fullname }}" href="javascript:void(0)" form="reply-to-{{ p.fullname }}" class="btn btn-primary text-white ml-auto btn-save-new-comment" data-form-id="reply-to-{{ p.fullname }}" data-parent-fullname="{{ c.fullname }}">Comment</a>
      </div>
    </form>
  </div>
  {% endif %}

  {% if not g.user and not p.is_banned %}
  <div class="comment-write mb-3">
    <textarea class="comment-box form-control rounded go-to-login" name="body" aria-label="With textarea" placeholder="Add your comment..." rows="1"></textarea>
  </div>
  {% if p.comment_count >= 2 %}
  <div class="card border-0 bg-light mt-4">
    <div class="card-body">
      <h5 class="card-title">Jump in the discussion.</h5>
      <p class="card-text">Become a member of +{{ p.board.name }}, no email address required. Join the party.</p>
      <div>
        <a href="/signup?redirect={{ request.path | urlencode}}" class="btn btn-primary">Sign up</a>
        <a href="/login?redirect={{ request.path | urlencode}}" class="btn btn-link text-muted">Sign in</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if p.replies %}
  <div class="comment-section">
   {% with comments=p.replies %}
   {% include "comments.html" %}
   {% endwith %}
 </div>
 {% elif not p.replies and p.deleted_utc == 0 %}
 <div class="comment-section text-center py-7">
  <span class="fa-stack fa-2x text-muted mb-4">
    <i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
    <i class="fas text-gray-500 fa-ghost fa-stack-1x text-lg"></i>
  </span>
  <h2 class="h5">Be the first to comment!</h2>
  {% if g.user %}
  <p class="text-muted">This comment section is a ghost town...</p>
  {% else %}
  <p class="text-muted">This comment section is a ghost town. <a href="/login?redirect={{ request.path | urlencode}}">Sign in</a></p>
  {% endif %}
</div>
{% endif %}

</div>

</div>

{% if g.user and g.user.id==p.author_id %}
{% include "delete_post_modal.html" %}
{% else %}
{% include "tip_modal.html" %}
{% endif %}

{% include "delete_comment_modal.html" %}


{% endblock %}

{% block guildModal %}
{% include "guild_details_modal.html" %}
{% endblock %}

{% block GIFtoast %}
<div class="toast" id="toast-error-gif" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white">
    <i class="fas fa-exclamation-circle mr-2"></i>Unable to snag gifs :(
  </div>
</div>
{% endblock %}

{% block GIFpicker %}
{% if g.user %}

  {% if ( 'TENOR_KEY' | app_config ) and ( 'FEATURE_ENABLE_GIFS' | app_config ) %}
  {% include "gif_modal.html" %}
  {% endif %}

  {% if 'FEATURE_ENABLE_EMOJI' | app_config %}
  {% include "emoji_modal.html" %}
  {% endif %}

{% endif %}
{% endblock %}
