<div class="toast clipboard" id="toast-copy-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center">
    <i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
  </div>
</div>

<div class="toast clipboard" id="toast-copy-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center">
    <i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
  </div>
</div>

<div class="toast" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center text-white">
    <i class="fas fa-comment-alt-smile mr-2"></i><span class="toast-text"></span>
  </div>
</div>
<div class="toast" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white">
    <i class="fas fa-exclamation-circle mr-2"></i><span class="toast-text"></span>
  </div>
</div>