
{% for u in users %}

<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
  <div id="user-{{ u.base36id }}" class="card h-100">
    <div class="position-relative">
      <img src="{{ u.banner_url }}" class="card-img-top user-card-banner" alt="@{{ u.username }} user banner">
      <img src="{{ u.profile_url }}" class="profile-pic-50 border-3 border-white user-listing-profile-img">
    </div>
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

        <a class="card-title text-break stretched-link h5 mb-0" href="{{ u.permalink }}">@{{ u.username }}</a>

        {% if g.user %}
        {% if g.user.id!=u.id and not u.is_private and not u.is_nofollow %}
        <div id="button-sub-{{ u.fullname }}" class="zi-3 {% if u.has_follower(v) %}d-none{% endif %}">
          <a class="btn btn-primary btn-sm btn-toggle-follow" href="javascript:void(0)" data-thing-id="{{ u.fullname }}" data-post-url="/api/follow/{{ u.username }}">Subscribe</a>
        </div>
        <div id="button-unsub-{{ u.fullname }}" class="zi-3 {% if not u.has_follower(v) %} d-none{% endif %}">
          <a class="btn btn-secondary btn-sm btn-toggle-follow" href="javascript:void(0)" data-thing-id="{{ u.fullname }}" data-post-url="/api/unfollow/{{ u.username }}">Unsubscribe</a>
        </div>
        {% endif %}
        {% else %}
        <div id="button-sub-{{ u.base36id }}" class="zi-3">
          <a class="btn btn-primary btn-sm" href="/signup?redirect={{ request.path }}">Subscribe</a>
        </div>
        {% endif %}
      </div>

      {% if not hide_bios %}
      <div class="card-text">{{ u.bio_html | safe }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
