{% extends "errors/default.html" %}

{% block title %}
<title>@{{ u.username }}</title>
<meta name="description" content="[banned]">
{% endblock %}

{% block icon %}
<span class="fa-stack text-muted">
    <i class="fad fa-user fa-stack-1x"></i>
    <i class="far text-danger fa-ban fa-stack-2x"></i>
</span>
{% endblock %}

{% block pagetitle %}@{{ u.username }} is banned{% endblock %}

{% block pagebody %}
{% if u.unban_utc %}
<p class="text-muted">This account has been temporarily suspended from {{ 'SITE_NAME' | app_config }}. Check back later.</p>
{% else %}
<p class="text-muted">This account has been permanently suspended from {{ 'SITE_NAME' | app_config }}.</p>
{% endif %}
{% if u.ban_reason %}
<p class="text-small text-muted"><span class="font-weight-bold">Reason:</span> {{ u.ban_reason }}</p>
{% endif %}
{% endblock %}

