{% extends "errors/default.html" %}

{% block title %}
<title>@{{ u.username }}</title>
<meta name="description" content="[reserved]">
{% endblock %}

{% block icon %}
<i class="fas fa-2x fa-id-card text-muted"></i>
{% endblock %}

{% block pagetitle %}Reserved Username{% endblock %}

{% block pagebody %}
<p class="text-muted">The username @{{ u.username }} has been pre-emptively reserved for: {{ u.reserved }}.</p>
<p class="text-muted">If that's you, please contact {{ 'SITE_NAME' | app_config }} staff in order to obtain access to this account.</p>
{% endblock %}


