{% extends "errors/default.html" %}

{% block title %}
<title>@{{ u.username }}</title>
<meta name="description" content="[blocked]">
{% endblock %}

{% block icon %}
<span class="fa-stack fa-2x text-muted mb-4">
  <i class="fas fa-square text-danger opacity-25 fa-stack-2x"></i>
  <i class="fas text-danger fa-user-cog fa-stack-1x text-lg"></i>
</span>
{% endblock %}

{% block pagetitle %}@{{ u.username }}{% endblock %}

{% block pagebody %}
<p class="text-muted">@{{ u.username }} has blocked you.</p>
<p class="text-muted">You can't see their profile</p>
{% endblock %}


