// Colors

$setprimary: #{primary};
$setsecondary: #{secondary};

$primary: lighten($setprimary, 20%);
$dark: #dce7c1;
$secondary: darken($setsecondary, 20%);
$danger: darken(#E53E3E, 20%);
$white: #000000;
$black: #EDEDED;
$light: #0f1619;
$success: darken(#38a169, 20%);
$muted: #697f8e;
$info: darken(#168EEA, 20%);


$purple: #{main};
$red:  #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #05080A;
$gray-200: #080D12;
$gray-300: #0F171D;
$gray-400: #1F2A34;
$gray-500: #3f515f;
$gray-600: #697f8e;

$upvote: $primary;
$downvote: #{downvote};
$admin: #E53E3E;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "dark": $dark,
  "white": $white,
  "black": $black,
  "light": $light,
  "success": $success,
  "muted": $muted,
  "downvote": $downvote,
  "upvote": $upvote,
  "purple": $purple,
  "gold": $gold,
  "admin": $admin,
  "gray": $gray,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "reddit": $reddit
);



// Bootstrap and its default variables
@import "syzitus/assets/style/bootstrap/scss/bootstrap";
@import "syzitus/assets/style/core";