{% extends "admin/admin_default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>{{ "SITE_NAME" | app_config }} - Useragent Management</title>
{% endblock %}

{% block content %}
<form method="get">
  <input class="form-control w-100" name="kwd" placeholder="Useragent">
</form>
<h2 class="mt-4">{{ kwd }}</h2>

{% if ban %}
<h3>banned</h3>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
</thead>
{% for entry in ban.__dict__ if not entry.startswith('_') %}
  <tr>
    <td>{{ entry }}</td>
    <td>{{ ban.__dict__[entry] }}</td>
  </tr>
{% endfor %}
</table>
{% else %}
<h3>not banned</h3>
{% if kwd %}
<form action="/admin/useragent" method="post">
  <input type="hidden" name="formkey" value="{{ g.user.formkey }}">
  <input type="hidden" name="kwd" value="{{ kwd }}">
  <select name="reason" class="form-control">
    <option value="archive">Archive</option>
    <option value="censorship">Censorship</option>
    <option value="generic ua">Generic Useragent</option>
    <option value="seo scraper">SEO</option>
  </select>
  <label for="mocktextinput">Mock text</label>
  <input class="form-control" id="mocktextinput" name="mock" placeholder="mock text">
  <label for="mocktextinput">Return status</label>
  <select name="status" class="form-control">
    <option value="200">200 Success</option>
    <option value="400">400 Bad Request</option>
    <option value="418">418 I'm A Teapot</option>
  </select>
  <input type="submit" value="Ban Useragent {{ kwd }}" class="btn btn-danger text-white">
</form>
{% endif %}
{% endif %}


{% endblock %}