{% extends "embeds/embed_default.html" %}

{% block title %}
<title>{{ thing.title | safe}}</title>
<meta name="description" content="posted {{ thing.age_string }} by @{{ thing.author.username }} in +{{ thing.board.name }}">
{% endblock %}

{% block pagetype %}thread{% endblock %}


{% block content %}
<div class="row no-gutters mt-md-3">
  <div class="col-12">
    <div class="posts" id="posts">
      {% with listing = [thing] %}
        {% include "submission_listing.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}