{% extends "errors/default.html" %}

{% block title %}
<title>+{{ b.name }} - {{ 'SITE_NAME' | app_config }}</title>
<meta name="description" content="This guild is banned.">
{% endblock %}

{% block icon %}
<span class="fa-stack text-muted">
    <i class="fad fa-chess-rook fa-stack-1x"></i>
    <i class="far text-danger fa-ban fa-stack-2x"></i>
</span>
{% endblock %}

{% block pagetitle %}+{{ b.name }} is banned.{% endblock %}

{% block pagebody %}
{% if b.ban_reason %}
<p class="text-muted mb-5">Reason: {{ b.ban_reason }}</p>
{% endif %}
<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
{% endblock %}