<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="/assets/images/splash/640/480">

  <link rel="icon" type="image/png" href="/assets/images/splash/64/64">
  
	{% block title %}
	<title>{{ "SITE_NAME" | app_config }}: The Open-Source Platform for Independent Internet Communities</title>

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ 'SITE_NAME' | app_config }}: The Open-Source Platform for Independent Internet Communities" />
  <meta property="og:site_name" content="{{ 'SERVER_NAME' | app_config }}" />
  <meta property="og:image" content="{{ '/assets/images/preview-images/ruqqus_og_image.png' | full_link }}" />
  <meta property="og:url" content="{{ request.path | full_link }}">
  <meta property="og:description" name="description" content="{{ 'SITE_NAME' | app_config }} is an open-source platform for online communities, free of censorship and moderator abuse by design.">
  <meta property="og:author" name="author" content="@{{ 'SITE_NAME' | app_config }}" />
  <meta property="og:site_name" content="{{ 'SERVER_NAME' | app_config }}" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@{{ 'SITE_NAME' | app_config }}">
  <meta name="twitter:title" content="{{ 'SITE_NAME' | app_config }}: The Open-Source Platform for Independent Internet Communities" />
  <meta name="twitter:creator" content="@{{ 'SITE_NAME' | app_config }}">
  <meta name="twitter:description" content="{{ 'SITE_NAME' | app_config }} is an open-source platform for online communities, free of censorship and moderator abuse by design." />
  <meta name="twitter:image" content="/assets/images/preview-images/ruqqus_og_image.png" />
  <meta name="twitter:url" content="{{ request.path | full_link }}" />
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- iOS webapp -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href=/assets/images/splash/32/32>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/splash/16/16">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#805ad5">
    <link rel="shortcut icon" href="/assets/images/splash/64/64">
    <meta name="apple-mobile-web-app-title" content="{{ 'SITE_NAME' | app_config }}">
    <meta name="application-name" content="{{ 'SITE_NAME' | app_config }}">
    <meta name="msapplication-TileColor" content="#805ad5">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#805ad5">


    {% if g.system.startswith("iOS/") %}
    <link rel="apple-touch-startup-image" sizes="320x480" href="/assets/images/splash/320/480" />
    <link rel="apple-touch-startup-image" sizes="640x960" href="/assets/images/splash/640/960" />
    <link rel="apple-touch-icon" sizes="640x1136" href="/assets/images/splash/640/1136" />
    <link rel="apple-touch-icon" sizes="750x1334" href="/assets/images/splash/750/1334" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="/assets/images/splash/768/1004" />
    <link rel="apple-touch-startup-image" sizes="768x1024" href="/assets/images/splash/768/1024" />
    <link rel="apple-touch-startup-image" sizes="828x1792" href="/assets/images/splash/828/1792" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="/assets/images/splash/1024/748" />
    <link rel="apple-touch-startup-image" sizes="1024x768" href="/assets/images/splash/1024/768" />
    <link rel="apple-touch-startup-image" sizes="1125x2436" href="/assets/images/splash/1125/2436" />
    <link rel="apple-touch-startup-image" sizes="1242x2208" href="/assets/images/splash/1242/2208" />
    <link rel="apple-touch-startup-image" sizes="1242x2688" href="/assets/images/splash/1242/2688" />
    <link rel="apple-touch-startup-image" sizes="1334x750" href="/assets/images/splash/1334/750" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="/assets/images/splash/1536/2008" />
    <link rel="apple-touch-startup-image" sizes="1536x2048" href="/assets/images/splash/1536/2048" />
    <link rel="apple-touch-startup-image" sizes="1668x2224" href="/assets/images/splash/1668/2224" />
    <link rel="apple-touch-startup-image" sizes="1792x828" href="/assets/images/splash/1792/828" />
    <link rel="apple-touch-startup-image" sizes="2048x1496" href="/assets/images/splash/2048/1496" />
    <link rel="apple-touch-startup-image" sizes="2048x1536" href="/assets/images/splash/2048/1536" />
    <link rel="apple-touch-startup-image" sizes="2048x2732" href="/assets/images/splash/2048/2732" />
    <link rel="apple-touch-startup-image" sizes="2208x1242" href="/assets/images/splash/2208/1242" />
    <link rel="apple-touch-startup-image" sizes="2224x1668" href="/assets/images/splash/2224/1668" />
    <link rel="apple-touch-startup-image" sizes="2436x1125" href="/assets/images/splash/2436/1125" />
    <link rel="apple-touch-startup-image" sizes="2668x1242" href="/assets/images/splash/2668/1242" />
    <link rel="apple-touch-startup-image" sizes="2737x2048" href="/assets/images/splash/2737/2048" />
    {% endif %}



    <!-- Ruqqus CSS -->
    
    {% if b and not request.path.startswith("/mod") %}
      <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_dark_url }}?v=3.0.8">
      <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="{{ b.main_css_light_url }}?v=3.0.8">
      <link rel="stylesheet" href="{{ b.custom_css_url }}">
    {% else %}
      <link id="css-link-dark" rel="{% if session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/main/dark.css?v=3.0.8">
      <link id="css-link-light" rel="{% if not session.get('dark_mode_enabled') %}stylesheet{% endif %}" href="/assets/style/main/light.css?v=3.0.8">
    {% endif %}

    <!-- Font Awesome -->
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

    {% block fixedMobileBarJS %}
    {% endblock %}

    {% if g.user %}

    <script>
      function formkey() {
       return '{{ g.user.formkey }}';
     }
   </script>
   {% endif %}

 </head>

 <body id="{% block pagetype %}frontpage{% endblock %}" class="{% if session.get('dark_mode_enabled') %}dark{% else %}light{% endif %}">

  {% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (g.system.endswith('/chrome') or g.system.endswith('/other')) %}
  <div class="row fixed-top" style="z-index:2000" id="mobile-prompt-row">
    <div id="mobile-prompt-container" class="ml-auto mr-5">
      <div id="mobile-prompt" href="javascript:void(0)" data-toggle="tooltip" data-container="#mobile-prompt-row" data-placement="top" data-trigger="click" title="" data-original-title="Install the {{ 'SITE_NAME' | app_config }} webapp by saving this page to your home screen!">
      </div>
    </div>
  </div>
  {% endif %}

{% include "header.html" %}

<!-- Page Content -->

{% block mobileUserBanner %}
{% endblock %}

{% block mobileBanner %}
{% endblock %}

{% block postNav %}
{% endblock %}

<div class="container-fluid">
  <div class="row justify-content-around" id="main-content-row">

    {% block leftSidebar %}
    {% block leftSidebarBlock %}
    {% endblock %}
    {% endblock %}

    <div class="col h-100 bg-white {% block customPadding %}custom-gutters{% endblock %}" id="main-content-col">

      {% block desktopUserBanner %}
      {% endblock %}

      {% block desktopBanner %}
      {% endblock %}

      {% block PseudoSubmitForm %}
      {% endblock %}

      {% block searchText %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block pagenav %}
      {% endblock %}

    </div>

    <!-- Right Sidebar (hidden on devices smaller than "large") -->

    {% block sidebar %}
    <div class="col sidebar text-left d-none d-lg-block pt-3 bg-white border-left">
      {% block sidebarblock %}
      <div class="sidebar-section">
        <div class="title">
          <i class="fas fa-heart mr-2"></i>Support {{ "SITE_NAME" | app_config }}
        </div>
        <div class="body">

          <a href="/help/donate" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0" style="color: #F7931A!important">
            <span class="fa-stack fa-1x ml-n1 mr-2">
              <i class="fas fa-square fa-stack-2x" style="color: #FEEBC8!important; font-size: 2rem!important;"></i>
              <i class="fab fa-bitcoin fa-stack-1x text-base fa-inverse" style="color: #F7931A!important;"></i>
            </span>Donate Crypto
          </a>

          <a href="https://github.com/thecodeforge/ruqqus-reborn/issues" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0" style="color: #DC143C!important">
            <span class="fa-stack fa-1x ml-n1 mr-2">
              <i class="fas fa-square fa-stack-2x" style="color: #FC8181!important; font-size: 2rem!important;"></i>
              <i class="fas fa-bug fa-stack-1x text-base fa-inverse" style="color: #DC143C!important;"></i>
            </span>Report Bugs
          </a>

        </div>
      </div>
      {% endblock %}

      {% if g.user and g.user.admin_level %}
      <div class="sidebar-section sidebar-adminpanel">
        <div class="title"><i class="fas fa-user-shield mr-2"></i>Admin Panel</div>
        <div class="body">
          {% block adminpanel %}
          <div class="text-center mb-2" style=""><i class="fad fa-ghost text-muted" style="font-size: 2.5rem"></i></div>
          <p class="text-center text-small text-muted mb-0">No admin actions available</p>
          {% endblock %}
        </div>
      </div>
      {% endif %}

      {% include "footer.html" %}

    </div>
    {% endblock %}
  </div>
</div>

{% block mobilenavbar %}
{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block guildModal %}
{% endblock %}

{% block GIFtoast %}
{% endblock %}

{% block GIFpicker %}
{% endblock %}

<!-- Clipboard Toast -->

<div class="toast clipboard" id="toast-copy-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast clipboard" id="toast-copy-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
	</div>
</div>

{% include "toasts.html" %}

{% if g.user %}
{% include "flag_post_modal.html" %}
{% include "flag_comment_modal.html" %}
{% include "gif_modal.html" %}
{% include "delete_comment_modal.html" %}
{% include "delete_post_modal.html" %}
{% include "tip_modal.html" %}
{% endif %}

{% if g.user and g.user.mods_anything %}
{% include "kick_post_modal.html" %}
{% include "yank_post_modal.html" %}
{% endif %}

{% include "expanded_image_modal.html" %}

{% include "bootstrap.html" %}

<script src="/assets/js/all_js.js?v=3.0.8" importance="high" ></script>

<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js" importance="high"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript">
	var clipboard = new ClipboardJS('.copy-link');
	clipboard.on('success', function(e) {

		jQuery(function($) {
			$('#toast-copy-success').toast('show');
		})
		console.log(e);
	});
	clipboard.on('error', function(e) {

		jQuery(function($) {
			$('#toast-copy-error').toast('show');
		})
		console.log(e);
	});
</script>

<!-- Mobile "install the app" tooltip -->


{% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (not g.system.endswith('/chrome') and not g.system.endswith('/other')) and not g.system.endswith('/webview') %}

<div id="mobile-prompt-container" class="fixed-bottom">
  <div id="mobile-prompt" href="javascript:void(0)" data-toggle="tooltip" data-container="#mobile-prompt-container" data-placement="top" data-trigger="click" title="Install the {{ "SITE_NAME" | app_config }} webapp by saving this page to your home screen!"></div>
</div>
{% endif %}

</body>

</html>
