{% extends "errors/default.html" %}

{% block title %}
<title>@{{ u.username }}</title>
<meta name="description" content="[deleted]">
{% endblock %}

{% block icon %}
<span class="fa-stack fa-2x text-muted mb-4">
  <i class="fas fa-square text-danger opacity-25 fa-stack-2x"></i>
  <i class="fas text-danger fa-user-minus fa-stack-1x text-lg"></i>
</span>
{% endblock %}

{% block pagetitle %}Deactivated Account{% endblock %}

{% block pagebody %}
<p class="text-muted">@{{ u.username }} left {{ 'SITE_NAME' | app_config }}.</p>
{% endblock %}

