{% extends "errors/default.html" %}

{% block title %}
<title>@{{ u.username }}</title>
<meta name="description" content="[deleted]">
{% endblock %}

{% block icon %}
<span class="fa-stack fa-5x text-muted">
    <i class="fad fa-user fa-stack-1x"></i>
    <i class="far text-danger fa-ban fa-stack-2x"></i>
</span>
{% endblock %}

{% block pagetitle %}Deactivated Account{% endblock %}

{% block pagebody %}
<p class="text-muted">@{{ u.username }} left {{ 'SITE_NAME' | app_config }}.</p>
{% endblock %}

