{% if c %}
    {% set u=c.author %}
{% elif p %}
    {% set u=p.author %}
{% endif %}

{% if u.id%2 %}
<span>
	<i class="fas fa-tree-christmas fa-fw faction-christmas" data-toggle="tooltip" data-placement="bottom" title="Nobly defending Christmas from the Halloween invasion"></i>
</span>
{% else %}
<span>
    <i class="fas fa-jack-o-lantern fa-fw faction-halloween" data-toggle="tooltip" data-placement="bottom" title="Fighting to free Halloween from the tyranny of Christmas"></i>
</span>
{% endif %}