// Colors

$setprimary: #{primary};
$setsecondary: #{secondary};

$primary: lighten($setprimary, 20%);
$dark: #23183E;
$secondary: darken($setsecondary, 20%);
$danger: #E53E3E;
$white: #000000;
$black: #EDEDED;
$light: #19160f;
$success: darken(#38a169, 20%);
$muted: #8e7f69;
$info: darken(#168EEA, 20%);


$purple: #{primary};
$red:  #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #0A0805;
$gray-200: #120D08;
$gray-300: #1D170F;
$gray-400: #342A1F;
$gray-500: #5f513f;
$gray-600: #8e7f69;

$upvote: $primary;
$downvote: #38B2AC;
$admin: #E53E3E;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "dark": $dark,
  "white": $white,
  "black": $black,
  "light": $light,
  "success": $success,
  "muted": $muted,
  "downvote": $downvote,
  "upvote": $upvote,
  "purple": $purple,
  "gold": $gold,
  "admin": $admin,
  "gray": $gray,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "reddit": $reddit
);



// Bootstrap and its default variables
@import "ruqqus/assets/style/bootstrap/scss/bootstrap";
@import "ruqqus/assets/style/core";